[2015-04-04 14:14] wootwoot1234 opened #1 "Added this to ReactNativeModules.com"
I put together http://reactnativemodules.com last night and added your module.  It's a community run list of react native modules.  Hopefully it will make finding projects like these easier.  Am I missing any that you know of?

[2015-04-05 06:09] #1 closed

[2015-05-15 03:18] cgarvis opened #2 "Image support"

[2015-05-25 22:55] smpetrey commented on #2
+1 that would be rad

[2015-08-18 07:05] sjoonk commented on #2
+1 I hope so.

[2015-09-01 05:27] chshouyu commented on #2
+1024

[2015-10-02 14:24] mikedizon opened #5 "Support for styling child nodes"

[2015-10-27 00:23] spenceropope opened #6 "Style text not contained in tag"
Is there a way to style text not contained in a tag? For instance, in the ReactNativeHackerNews example the beginning of the {comment.text} content is often not included in a tag. Is there a way to apply a style to all of the html content?

[2015-10-27 01:55] jsdf commented on #6
How about wrapping it in a root tag before parsing it?

[2015-10-27 16:37] spenceropope commented on #6
Perfect. Great idea! Thanks.

[2015-10-27 16:37] #6 closed

[2015-11-06 15:54] nbastoWM opened #7 "<p></p> gets too much space after"
Hi,

If I have some text like `<p>123</p><p>456</p>` the final result has like 3 or 4 break lines between the two paragraphs.
I tryed to put negative margins and paddings on p tag style but with no success.
Is there any way reduce that space?
Thanks.

[2015-11-13 07:13] Kuchitama commented on #2
+1

[2015-11-30 23:25] jsdf commented on #2
I'd happily accept a PR. This wouldn't be particularly difficult to implement, I just don't have time to do it any time soon.

[2016-01-06 20:45] andue commented on #7
@nbastoWM did you found a solution yet?

[2016-01-10 19:20] grittathh commented on #7
Editing line 11 in HTMLView.js will do the trick

[2016-01-12 21:29] andue commented on #7
thx @grittathh

[2016-01-31 16:30] johntom opened #9 "onLinkPress"
Hi,
While the htmlContent displays correctly I can't seem to get onLinkPress to work
Thanks,
John

[code]

[2016-02-01 06:52] jsdf commented on #9
Are you just trying to get the link to open in the browser? You can just do this:
[code]

[2016-02-01 18:23] johntom commented on #9
Hi,
This is all the code and it doesn't work with Linking or LinkingIOS.
Thanks,
John
/* @flow */
'use strict';
var React = require('react-native');
var contact = require('../Styles/contact');
var Icon = require('react-native-vector-icons/Ionicons');

var LeftMenuBack = require('./Widgets/LeftMenuBack');
var Footer = require('./Widgets/Footer');
var Navbar = require('./Widgets/Navbar');
var RightB

[2016-02-03 20:20] jsdf commented on #9
You seem to have put the handler which calls Linking.openURL in a prop called 'onPress' but it needs to be passed in as the 'onLinkPress' (which you're currently passing a handler which calls console.log)

[2016-02-04 18:16] johntom commented on #9
Hi James,
Seems like my code got chopped on last post and I did try your suggestion but it still won't open with either method and I always had onLinkPress for the  <HTMLView> tag.
John
[code]

[2016-02-06 07:39] jsdf commented on #9
The code in your last example should be
[code]

[2016-02-06 14:43] johntom commented on #9
Hi,
Yes I have tried (onLinkPress={() => Linking.openURL('http://google.com') } but still wont work, Perhaps there is some setup option I'm missing for android?
Using Win10, react 0.19, genymotion...
![select3](https://cloud.githubusercontent.com/assets/1877376/12867189/f76ada0a-ccb4-11e5-8a3c-73abf9d71c26.PNG)

John

[2016-03-08 09:42] kxxoling commented on #2
Really need this feature, but I don't know how to implement it. Poor knowledge with JS and iOS. :(

@jsdf If you have any idea but no time, how about writing it down and wait someone to implement it?

[2016-03-14 18:11] ufon commented on #2
+1

[2016-03-14 18:17] ufon commented on #2
I trying somsing but it not work :(

[code]

[2016-03-21 07:40] j010wdz opened #10 "Can't change the display of the value immediately."
Hi,
     When I set value which from 'this.props'. It shows the last value I set.

[2016-03-22 14:39] pedrodevoto opened #11 "this.setState() won't trigger a re-render of HtmlView"
If I set the value prop to some state variable and then set that variable through setState() function, the HtmlView does not get refreshed with the new value. Haven't had much time to check the source for myself.

[2016-03-22 14:49] pedrodevoto commented on #11
Fixed it by commenting out line number 76 on HTMLView.js.

[code]

I don't know yet if I broke something else by doing so.

[2016-03-23 07:41] cmideal opened #12 "img tags canot show"
why img cannot show

[2016-03-28 08:16] cinic2003 commented on #2
+1 hope it very much

[2016-03-28 11:06] kxxoling commented on #2
I'm using `react-native-html-render` instead, but its document is bad, you can take my app as an example: https://github.com/kxxoling/PythonChina.app/blob/master/views%2FPost.js

[2016-03-29 12:25] atardadi opened #13 "Support styling based on class"
Would be highly appreciated :)

[2016-03-30 08:10] blankzust commented on #2
+1.

[2016-04-02 09:08] ufon commented on #2
@kxxoling i found this week ago. work's perfectly

[2016-04-02 09:29] kxxoling commented on #2
@ufon Except some compatibility with HTML5 tags. For example, if you put a ``img`` tag in an ``figure`` tag, the image won't show. I've created an issue about this, but not fixed yet.

[2016-04-02 18:00] ufon commented on #2
@kxxoling it's not so critical, I am sure this is remediable at a stage of response preparation :)

[2016-04-03 00:30] kxxoling commented on #2
@ufon Yeah, but I'm working on an app based on python-china.org's API, which prefer HTML5 tags.

[2016-04-07 14:37] sf577 commented on #11
Ive issued a Pull Request so this now works, hopefully this will be merged in

[2016-04-09 23:38] pedrodevoto commented on #11
Working fine with new merge

[2016-04-09 23:38] #11 closed

[2016-04-11 08:35] sf577 opened #15 "Update NPM Package"
Hi,

Can you possibly push the recent changes to NPM?

Best regards

Steven Fisher

[2016-04-11 12:54] jsdf commented on #15
Can you test the version 0.4.0 I just published?

[2016-04-11 15:33] sf577 commented on #15
I upgraded to 0.4.0 and got the following error
<img width="466" alt="screen shot 2016-04-11 at 16 32 15" src="https://cloud.githubusercontent.com/assets/3382478/14432686/202ea2ba-0003-11e6-805d-7f0a809409b1.png">

[2016-04-11 22:53] jsdf commented on #15
Looks like the `.babelrc` file I added for the tests is interfering. I've just published `0.4.1` which adds it to the `.npmignore`. Can you try it out and tell me if it fixes the issue for you?

[2016-04-12 09:13] sf577 commented on #15
That seems to have fixed it cheers!

[2016-04-12 09:13] #15 closed

[2016-04-12 16:08] WhatAKitty commented on #11
@sf577 @pedrodevoto  I have this problem and not working fine in new version: 4.1.

[2016-04-15 02:15] blackbing commented on #2
@jsdf I've send a pull request https://github.com/jsdf/react-native-htmlview/pull/18. Please help to review it.

[2016-04-19 09:36] ladjzero commented on #2
I'll try @blackbing 's approach.

[2016-04-20 03:19] blackbing commented on #2
if you want to point to my version temporary before this issue resolved.
Try this
`npm i git+https://git@github.com/blackbing/react-native-htmlview.git#master`

[2016-04-26 11:15] wv1124 opened #20 "not support <a href="tel:13800000001"></a>"
not support <a href="tel:13800000001"></a>

[2016-04-28 09:53] oillamp commented on #10
i have the same question. i use it as a part of a cell in listview, when i request api and update datasource, the htmlview would not update, it show the last value i set.

[2016-05-21 12:29] JO-WTF commented on #2
@kxxoling

Thanks a lot.

Maybe I will help in improving the documents.

[2016-05-23 11:13] JO-WTF commented on #2
@jsdf
Could you please merge @blackbing 's PR?

Thanks.

[2016-06-07 14:22] petersg83 opened #26 "error because of the require"
At the line of my _require('react-native-html-webview');_ (DumbProduct.js:10:0) it throws the error **"undefined is not an object (evaluating 'PropTypes.string")**.
![screenshot_20160607-161453](https://cloud.githubusercontent.com/assets/11708220/15860899/2990f1a6-2ccb-11e6-99b3-cc7f7af0f232.png)

Funny fact : my index.ios.js file is only 6 lignes long.

[2016-06-13 15:30] olup commented on #26
Here too, with android

[2016-06-14 08:47] sf577 commented on #5
I think I've just opened a pull request that should help fix this issue ( #27 ), but im not sure because this issue is so vague.

[2016-06-25 06:43] EugeneLiang opened #28 "Android Support ?"
Hi there!

Firstly, this is so awesome!

I was wondering if this supports Android ?

Best Regards.

[2016-06-25 07:22] radiegtya opened #29 "Table tag support?"
table tag is not detected

[2016-06-28 17:57] GCour opened #30 "Lineheight in Android"
Regarding this Stackoverflow question:
http://stackoverflow.com/questions/38076639/lineheight-in-htmlview

I'm not able to set a line-height in Android. It works fine for iOS

[2016-07-08 18:05] itinance commented on #13
+1 @atardadi

[2016-07-09 13:18] itinance opened #32 "Any ideas how to deal with text-transform/uppercase/lowercase?"
As in title :)

[2016-07-09 14:50] itinance commented on #32
I did this PR regarding my question: https://github.com/jsdf/react-native-htmlview/pull/33

[2016-07-13 08:45] sf577 commented on #28
It does support android

[2016-07-15 12:34] raphaelvigee commented on #7
This has done the trick :

[code]

[2016-07-25 22:12] tje3d commented on #28
i can confirm it works pretty good in android

[2016-07-26 14:40] melihmucuk commented on #2
@blackbing it doesn't work on React Native v0.30.

[2016-08-06 00:18] jasonfma opened #35 "<b> not working on android"
Provided this html string we see the bold text showing up in iOS but not on android. On android it appears to be all the same fontWeight.

`<b>Bold text</b> not bold`

[2016-08-10 21:29] jasonfma commented on #35
Problem was in nesting the component inside a custom styled Text component.

[2016-08-10 21:29] #35 closed

[2016-08-26 06:04] vincentschen commented on #2
+3 @liezl200 @allisonsun

[2016-08-30 10:48] winglight opened #40 "How to get onPress work?"
I hope to handle the event when user click any place on the htmlview, code's followed:
`
<ScrollView
          style={{flex: 1}}>
          <HTMLView style={{flex: 1}}
            value={this.state.content}
            onPress={() => this._toggleToolbar()}
          />
          </ScrollView>
`

[2016-09-09 14:01] rajatgupta1993 opened #41 "how to install this library ?"

[2016-09-10 08:36] dukedom commented on #12
I also encounter the problem

[2016-09-11 10:51] GCour commented on #30
Sommerfeld, I don't get it.. I want my description to have a lineHeight. How can I do this?

  <HTMLView
        value={itemDetail.description}
        stylesheet={{p:{lineHeight:32}}}/>

[2016-09-11 11:31] roysG commented on #41
Yes, how do we need to install it?

[2016-09-13 09:40] jan-happy commented on #41
1. Open terminal
2. cd to the root directory of the project
3. Enter "npm install react-native-htmlview -save" in the terminal (without quotes)

Now you can use the HTMLView component as described in the example.

[2016-09-13 22:11] nasal commented on #40
Wrap it into a `<Touchable*>` component.

[2016-09-13 22:16] nasal commented on #26
It looks like you are trying to require `react-native-html-webview` instead of `react-native-htmlview`.

Try with `var HTMLView = require('react-native-htmlview')`.

[2016-09-22 03:43] xifumengmengda opened #45 "use htmlview onLinkPress error"
![222](https://cloud.githubusercontent.com/assets/16473366/18736363/f68f17c8-80b8-11e6-8828-624757abddda.png)
when i want to click like <a href='http://www.baidu.com'></a>  and error like the picture ,and my code like this
![333](https://cloud.githubusercontent.com/assets/16473366/18736411/63e83886-80b9-11e6-89f5-6cdf55981ada.png)
![444](https://cloud.githubusercontent.com/assets/16473366/18736421

[2016-09-24 17:54] zivchen commented on #12
Same here
this tag doesnt show anything
<p><a href="http://www.ktuvit.com/view.php?id=19612&amp;m=subtitles&#35;9612" title="צער גידול בנות עונה 5, פרק 6: The Legend of Ranger Joe | 1991"><img style="margin-left: 10px;border:0;" src="http://www.ktuvit.com//contents/series/seasonimages/thumbnails/thumb_337.jpg" width="100" height="144" align="right" /></a>In this episode, Joey hits a string of grea

[2016-09-28 14:08] phil-allcock commented on #12
I have been trying to get the same thing to work. According to [the docs](https://facebook.github.io/react-native/docs/text.html#nested-views-ios-only), nested views are only supported on ios. Which means that it won't work for android with images that wrapped inside text nodes such as "a" tags.

[2016-09-30 08:26] yantao608 opened #47 "IOS lineHeight"
if i changing IOS Setting to get bigger font, the htmlview linehight will be change. how can i fix it to keep the lineheight  unchanged

[2016-09-30 09:08] #47 closed

[2016-09-30 09:10] yantao608 commented on #47
React Native Text BUG  faceBook has fix it [https://github.com/facebook/react-native/issues/2783](url)

[2016-10-02 14:16] ospfranco opened #48 "[HELP WANTED] Inserting inside HTMLView as child"
Hey, I'm using a combination of Autolinker and HTMLView to render text.

I want to pass something like:
`const commentText = <p><a href="http://www.google.com" target="_blank" rel="noopener noreferrer">google.com</a></p>`

and render it like:

[code]

but when I place HTMLView within another tag, it does not get rendered, any idea on how to achieve this?

[2016-10-07 01:28] kengorab opened #51 "Is there a reason for bundling htmlparser2 and entities with this library?"
My first assumption was that it was because the bundled dependencies are actually forks of the libraries. While I hope that's not the case, I wasn't able to see any difference between the two (although I could have missed it).

Unless there's a reason not to, I think this library should use [htmlparser2-without-node-native](https://www.npmjs.com/package/htmlparser2-without-node-native) and the nor

[2016-10-07 01:51] kengorab opened #52 "Weird spacing/newline issues with some tags"
I've noticed some unexpected rendering when dealing with some tags. I've listed three of them here (`p`, `ul`, and `pre`). There's a lot here (reality vs. expectation for each tag), but if you skip to the end I note the part of the code where (I think) the problem/solution lies.
## `<p>` Tags

The html that's passed in here is

[code]

(exactly like that, with no newlines). This produces:

<img wi

[2016-10-07 15:33] jsdf commented on #51
The only reason is historical. When I originally created this project, React Native didn't support .json requires and bundling was a way to get around that. I'd happily accept a pull request to remove it.

[2016-10-08 02:34] kengorab opened #54 "Tests fail on master"
I noticed this when writing #53 and decided to make a separate issue for it. I'll put up a fix soon.

[2016-10-10 05:27] jatazoulja opened #56 "Inline style not supported."
Could not render inline style attribute?
`<div dir="ltr" style="text-decoration: underline; font-weight: bold; font-style: italic;">`

[2016-10-14 09:27] SamleLin opened #57 "img tag not support for react-native 0.34?"
img tag not support for react-native 0.34

[2016-10-20 14:00] samparmenter commented on #45
The issue is in the Linking.js react-native class which is calling this._validateURL in the Linking.openURL function. By default the HTMLView sets Linking.openURL as the click handler and simply calls it when a link is pressed. At that point however, `this` refers to the options object (you need to look at HTMLView source to see this) and as that object doesn't have a _validateURL function it thro

[2016-10-25 05:14] #54 closed

[2016-10-25 16:15] reni99 opened #58 "Center text"
Hi everyone,

Is it possible to center text? If I have something like this:
`<p> this is some text... bla bla bla </p>`

How would I need to set the style to set the text alignment to center?

I tried something like this, which did not work:

[code]

I also tried to set the alignment directly with `<p align="right">`. Did not work either...

Any help would be appreciated :)

[2016-10-31 07:35] Kaishley commented on #56
bump @jsdf

[2016-11-16 08:04] XHTeng commented on #57
had solve this issues ?

[2016-11-22 08:38] zongxiaomi opened #61 "你们就不能说个中文吗"
😌 醉了 找到了三个控件都是ios 的

[2016-11-22 08:39] zongxiaomi opened #62 "zui le"
😌 醉了 找到了三个控件都是ios 的
ri   i have drnik find three component are can't use  becaust its for ios

[2016-11-24 16:30] Ouadie opened #63 "Is there a way to authorize only some tags (<b /><br /> etc.)"
I want to use htmlView but only accept some basic tags like `<b /> <br /> <strong />` and not `<a /> <img />` etc. is it possible ?

[2016-11-29 19:13] chandlervdw commented on #45
@samparmenter thanks for the explanation and fix.

[2016-11-30 17:10] IronTony commented on #29
Any news about this?

[2016-12-03 05:15] XHTeng commented on #61
hehe

[2016-12-08 08:04] aqnaruto commented on #61
作者是国外的，你就不要提这么垃圾的言论出来丢人了。

[2016-12-08 08:04] aqnaruto commented on #61
@zongxiaomi

[2016-12-08 08:13] zongxiaomi commented on #61
谁告诉你的都是国外的。那你意思英文的项目就不能讲中文了吗 ？ 为什么有的git 项目是双语的？ 我这也样问也是lj言论，那你说的我的这句能证明你就是个LJ吗 ？ 骂你还脏嘴 @aqnaruto

[2016-12-23 07:57] tomi-li commented on #61
@zongxiaomi
没说不可以用中文，但是国际惯例来说，都是用英文来提问和回答，不管你是哪国人。
提 Issue 请简要的提出你的问题 比如 你遇到了什么问题， 代码是不是有问题等情况。 如果你需要中文文档 可以 fork 然后提出 merge request 给 author。
这么写表情符号，和 题目 和详情无关的 issue 是很不尊重 作者的。
如果你写了一个项目， 别人用你看不懂的语言写一些评论你会怎么想。

[2016-12-31 03:19] aqnaruto commented on #61
你脑子被你妈吃了？@zongxiaomi  这个作者不是外国人，狗智商

[2017-01-04 05:51] ismdcf opened #65 "Latest version not released to npm"
Unable to install the latest version using npm

using `npm install react-native-htmlview@latest --save ` gets only 0.5.0 version not 0.6.0.

using `npm install react-native-htmlview@0.6.0 --save ` shows error.

[2017-01-04 06:38] nobalmohan commented on #58
[code]

[2017-01-04 06:40] nobalmohan commented on #57
React native support **Image** tag.
[code]

[2017-01-04 06:46] nobalmohan commented on #48
[code]

[2017-01-04 06:48] nobalmohan commented on #40
Wrap it in **TouchableOpacity** or **TouchableHighlight**. Learn the difference before using !

[2017-01-04 15:16] #48 closed

[2017-01-04 18:30] nobalmohan commented on #63
Parse the HTML string before passing to htmlView

[2017-01-10 16:04] saberking commented on #65
@ismdcf Version 0.6.0 does not work at all on Mac, I guess that's why it has not been published

[2017-01-10 18:22] ismdcf commented on #65
@saberking understood . tried it with the 0.6.0 tag on react native ios and it had issues so rolled back to 0.5.0

[2017-01-18 14:09] scazzy opened #68 "WebView not working with renderNode"
I'm trying to extend functionality for adding iframes (youtube videos) etc, but it's throwing an error "Views nested within a <Text> must have a width and height", where infact, the width and height are explicitly mentioned

[code]

[2017-01-18 14:15] scazzy commented on #63
use the given prop method `renderNode` to block, accept or extend the tags.

Example:
[code]

[2017-01-24 19:31] sun2rise opened #69 "Open local html file"
Hi, i would like if there is a way to open a local html file which loads some local js libs too..
What if i want to host a complete website from inside my app?
Thanks

[2017-01-27 17:45] vtisnado commented on #13
+1 @jsdf

[2017-01-27 17:47] vtisnado commented on #68
+1

[2017-01-30 12:28] jitenderchand1 opened #70 "Default styling for all the text"
We got response in two format. Sometimes we got HTML tag within the response but sometimes we got plain string.

We do styling bases on the tags like given below. I want to apply the styling for all the text whether they are wrapped in HTML tag or not.

`const webViewStyle = StyleSheet.create({
    p: {
      color:"red",
    },
 })`

`const body = "<p>Display Text</p>"`
`const body = "Display Tex

[2017-01-30 14:51] rajnikantsethiya commented on #70
how to style text in Htmlview, default styling !!!!!
Any solution or alternative to render HTML in react native?

[2017-01-31 11:19] BBTed opened #71 "Why not using View tag at root component ?"
Why using Text instead of using View. It's make renderNode cannot has a child component.

[2017-02-01 16:30] s-ostrovsky commented on #7
@raphaelvigee can you explain your solution? thx

[2017-02-01 16:31] raphaelvigee commented on #7
The `p` tags have a `margin-bottom`, replacing them with `span`s made the trick

[2017-02-01 16:42] s-ostrovsky commented on #7
@raphaelvigee where should I paste your regexp? thanks a lot!

[2017-02-05 15:41] susan-github commented on #57
Any update about supporting <img> tag?
react-native version: 0.38

[2017-02-06 14:45] anishtr4 commented on #57
does  it support <img   src="https://dz2cdn2.dzone.com/thumbnai.jpg" width="60"> tag ?

[2017-02-07 12:02] vedovato commented on #57
i think it's not supported, yet

[2017-02-09 02:32] xjianghongx opened #72 "Why I set the border style for h3 tag, but there was no effect?"
const htmlViewStyle = StyleSheet.create({
    h3 : {
        fontSize : 16,
        color : '#333',
        fontFamily : '"microsoft yahei", Arial',
        fontWeight : 'normal',
        paddingLeft : 10,
        borderLeftWidth : 3,
        borderStyle : 'solid',
        borderColor : '#ff5e48',
    },
});

[2017-02-09 02:42] xjianghongx commented on #72
![issue](https://cloud.githubusercontent.com/assets/20220888/22767110/5d410cc4-eeb4-11e6-9d4a-91eaf164184b.png)

[2017-02-09 10:43] ItsNoHax opened #73 "Has anyone got it working on RN 0.39.2?"
Made a fork and I am trying to get all the imports and stuff right but it's still not working. What am I missing?

[2017-02-10 00:38] #72 closed

[2017-02-14 16:52] stefan-digital-chefs commented on #70
Just do something like this:

`<HTMLView value={"<styledText>"+subHeader+"</styledText>" stylesheet={webViewStyle} />}`

and

`const HTMLViewStyles = StyleSheet.create({
  styledText: {
    color:"red"
  }
});
`

[2017-02-15 09:23] rajnikantsethiya commented on #70
Thanks for the reply @stefan-digital-chefs ...
But the solution is not working its not changing the colours for anything.:(

[2017-02-23 01:39] seanyesmunt commented on #70
Any update on this? Using `<styledText>` doesn't work for me. I'm wrapping my text in a `<p>` and trying to update the color for that doesn't work either.

[2017-02-24 12:42] stefan-digital-chefs commented on #70
Weird. This works for me, just putting an element (for example: <newCustomElement>) around the content string. And then provide a style for that element, like this
`const webViewStyle = StyleSheet.create({ newCustomElement: { color:"red" } });`

[2017-02-26 11:42] Unforgiven-wanda commented on #56
Bump here as well.

[2017-02-26 14:41] jaseemabbas commented on #29
+1

[2017-02-28 22:37] dan-katz commented on #58
Is there any progress on this? textAlign: 'center' still doesn't work for me.

[2017-03-01 05:13] seanyesmunt commented on #70
Ahh, working good for me now. I wasn't passing in the stylesheet correctly.

Thanks for the help.

[2017-03-03 14:54] markusguenther commented on #52
I don't have the same issues like you. But I had whitespaces after the <br> tags and the htmlview package creates a new Text Component after a break but does not remove the whitespace.

So the new Text element starts with a whitespace.

[code]

This is my current hack for that. But it would better to have this in the package.

Maybe you have similar problems.

[2017-03-06 10:16] vanekt opened #74 "A troubles with imports"
When I trying use the latest version (6ed145ae0089860fb9462a203bd2555c2ab43534), the application throws error:
![1488795130742](https://cloud.githubusercontent.com/assets/10152345/23605768/0dbb4916-026f-11e7-92e3-0a66ff8bb9af.jpg)
![1488795164973](https://cloud.githubusercontent.com/assets/10152345/23605776/14d353d8-026f-11e7-89ae-51bbf8ba6577.jpg)

[2017-03-13 15:59] #73 closed

[2017-03-17 21:48] MichelDiz commented on #57
no modules are supporting img tags... I'm trying hard and no success

[2017-03-18 02:27] vedovato commented on #57
Can you tell us reasons it is hard, @MichelDiz?

[2017-03-18 04:25] jsdf commented on #57
This package supports img tag but the width and height attributes must be set.

[2017-03-18 04:26] jsdf commented on #74
should be fixed now

[2017-03-18 04:41] MichelDiz commented on #57
Okay, but where? inside my Json.description has width="203" height="214" inside the HTML

[2017-03-18 05:39] jsdf commented on #68
Have you tried wrapping your WebView in a View and putting the width & height on the View instead?

[2017-03-18 07:05] jsdf commented on #65
latest version should work now

[2017-03-18 07:08] jsdf commented on #57
In the version which I just released, this works:

[code]

[2017-03-18 09:15] colloquet opened #80 "Error installing newest version (0.7.1)"
Hi,

Thanks for making such useful plugin, I was previously using 0.5.0 and tried to update to newest version, however I am getting errors when installing from npm or yarn, here are the screenshots:
![screen shot 2017-03-18 at 5 13 16 pm](https://cloud.githubusercontent.com/assets/6201495/24070750/50df957e-0bfe-11e7-83f7-12bd90442ee7.png)
![screen shot 2017-03-18 at 5 14 03 pm](https://cloud.githu

[2017-03-18 16:18] MichelDiz commented on #57
I gonna try!

[2017-03-18 16:32] jsdf commented on #80
looks like yarn publish is buggy https://github.com/yarnpkg/yarn/issues/1959

I've just published 0.7.2 via npm and it seems to be okay. please try installing that version and see if it works for you

[2017-03-19 02:43] colloquet commented on #80
Hi,

I can confirm its working now, I was able to install 0.7.2 through npm.

Thanks!
Cheers.

[2017-03-19 02:43] #80 closed

[2017-03-21 08:12] panxw opened #83 "How to support a url with HtmlView?"
I wan't to use this to react-native-web as WebView, so I ask this question.

[2017-03-21 12:21] shaibar commented on #58
@reni99
I just used the following:
### The HTML view usage using the renderNode prop function for custom rendering
[code]

### Render my node function
[code]

### Style
[code]

[2017-03-21 16:03] Quirksmode opened #84 "How to colour <ul><li> bullet points?"
I have tried this, but it doesn't work:

`ul: {
        color: '#fff'
    },
    li: {
        color: '#fff'
    },`

[2017-03-21 16:23] Quirksmode commented on #84
To add to this, the list item text wrap underneath the bullets, is there a way to target these somehow?

[2017-03-22 06:20] scazzy commented on #68
@jsdf Tried. So, the problem is the DOM elements are nested. And the width and height are dynamic of the webview.
I have modified your lib for myself tho such that it'll bring all BLOCK view (webview in this case) to root hierarchy instead of making it a children of TEXT component.

[2017-03-22 08:35] smhatre59 commented on #84
Actually the bullet point is simply a unicode character as defined here:
https://github.com/jsdf/react-native-htmlview/blob/master/htmlToElement.js
Simply go to your npm modules folder and open this file in some editor.Then change the unicode character to something else on line no 11:
const BULLET = '\u2022 ';
Reload your app to see the change in bullet point.
This is not a permanent solution and

[2017-03-22 08:45] Quirksmode commented on #84
Thanks for getting back to me. How would I change the colour to white and have the size match the font size of the <li> it sits alongside? Also, is there a way to avoid the wrapping issue?

[2017-03-22 12:07] smhatre59 commented on #84
In that case use the renderNode method to override li tag as follows:
Install react-native-vector-icons
Import them in your project:
import Icon from 'react-native-vector-icons/FontAwesome';
Then define renderNode function as follows:
renderNode(node, index, siblings, parent) {
      if (node.name == 'li') {
        const a = node.attribs;
        return (
          <Text>
          <Icon name="ro

[2017-04-02 20:49] jsdf commented on #83
do you mean a link like `<a href="something.com">`? That is already supported

[2017-04-02 20:49] #74 closed

[2017-04-02 20:50] jsdf commented on #69
You should use a [WebView](https://facebook.github.io/react-native/docs/webview.html) if you want to run a complete webpage with Javascript. react-native-htmlview has no intention of supporting that use case.

[2017-04-02 21:07] koenpunt commented on #71
Already fixed in 07923f8095792d3bc10023421f0335c73d706466

[2017-04-02 21:19] koenpunt commented on #84
For proper list alignment I found that I have to create a "table" with views.

So something like this:

[code]

However for this to work you have to use the github master, because `domToElement` is available in the function since 607ab6a805ca9aab448f3a910d610ae53a0708ee, which has not been released yet.

[2017-04-02 21:27] koenpunt commented on #68
This should be working fine since 07923f8095792d3bc10023421f0335c73d706466

[2017-04-02 21:29] koenpunt commented on #20
This indeed doesn't work on the simulator. Did you also try it on an actual device?

[2017-04-02 21:30] koenpunt commented on #29
You can implement this yourself by passing a function to `renderNode`. Although I think I might be a lot of work...

[2017-04-03 12:01] Quirksmode commented on #84
Thanks guys, this is really helpful, will give it a try.

[2017-04-04 15:42] panxw commented on #83
I mean something like webview.loadUrl(url) in andorid.

[2017-04-05 00:04] mark0978 opened #86 "Text elements don't support a lot of formatting that Views do"
So I tried writing some CSS to style a div and that didn't work well at all.  Started digging into why and find that most everything is a `<Text>` element which does very little when it comes to layout.  I don't know why `<Text>` elements don't do it, but they don't.

So I coded up a simple renderer to compensate for this and show the issue and hope to discuss how to best go forward with a real fi

[2017-04-05 00:05] mark0978 commented on #86
Forgot to mention that styles are not available to the customRenderer either, that's probably a bug, but could be worked out while working thru this formatting problem.

[2017-04-06 09:31] liezl200 commented on #57
With width and height set, img tag rendering works for Android but image is not rendering on iOS (there is a blank space where the image should be).

[2017-04-09 09:31] #69 closed

[2017-04-10 13:04] h4ck4life commented on #13
+1

[2017-04-11 17:26] harish220 opened #87 "Height CSS not applying"
Hi,

`<HTMLView value={htmlContent} stylesheet={stylesShortDesc}/>`

and Stylesheet
[code]

But HTML view is not rendering with custom **StyleSheet**

[2017-04-12 11:43] sajjadrad opened #89 "RTL direction"
Is it possible add direction to style?

[2017-04-12 12:13] sajjadrad opened #91 "textAlign not working on iOS"

[2017-04-13 23:15] lordress opened #92 "UL OL not showing correct number"
Do you know why the generated OL always show even number? eg.below
2. Test
4. Asd.
6. aasdd
8. aaaaa.
10. ddddd

Anybody experience same thing?

[2017-04-14 08:59] lucasleelz opened #93 "How to adjust the image style"
The picture may cover the text above.
So I want the picture to be spaced from the text.
But do not know how to do it

[2017-04-18 08:25] CabuxaMapache opened #94 "onRenderNode not working with image nodes in Android"
I'm getting this error rendering my html: `Nesting of <View> within <Text> is not supported on Android`
The code in my component:

	  _onRenderNode = (node, index, siblings, parent, defaultRenderer) => {
		if (node.name == 'img') {
		  return (
			<Image source={'https://i.redd.it/1l01wjsv22my.jpg'} width={50} height={50} />
		  );
		}
	  }

	  render() {
		let myHtml = "<p><img src=\"https://i.re

[2017-04-18 10:04] uggrock opened #95 "License file missing"
Hello,

can you please add a file describing the license under which you library is distributed.

regards,
Ilian

[2017-04-18 10:44] CabuxaMapache commented on #57
Not working for me with "onRenderNode": #94

[2017-04-18 11:26] vedovato commented on #57
How are you setting the image dimensions on dynamic content, @liezl200?

[2017-04-20 00:04] mismith0227 commented on #92
I also experienced the same thing.

Because the value of index is "1, 3, 5, 7, 9 ...", it seems to be "2, 4, 6, 8 ...".
https://github.com/jsdf/react-native-htmlview/blob/master/htmlToElement.js#L88

If we divide by 2 at first aid it will be in order but it will not be a fundamental solution ...?
[code]

[2017-04-21 14:59] jonolock91 commented on #7
If you go into the installed node module package and go to the file `htmlToElement.js` on line 11 you can remove a new line break character `const PARAGRAPH_BREAK = '\n\n';` reducing it to one line - Just note that if you re-install the package it'll be overwritten.

[2017-04-27 09:22] lidingyang opened #96 "why img tag in p tag cannot show?"
let htmlstr = '<p><img alt="" src="http://img.tyitop.com/m_tyitop_com/ckeditor/2017/04/19/640webp.jpg" style="height:403px; width:310px" /></p>';
<HtmlView value={htmlstr}/>;
nothing will show!!

[2017-04-27 09:23] #96 closed

[2017-04-27 11:49] lucasleelz opened #97 "Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead."
https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#migrating-from-react.proptypes

[2017-05-01 14:51] hchen1202 commented on #58
Has anyone found the solution?

[2017-05-12 19:33] pzehle opened #100 "Comments <!-- comment --> generating a lot of line breaks"
I'm parsing html code from an API. Everything is going ok, but I get a new line break every time the module finds a comment, like it tries to render it like a `p` or `span`. Is there a workaround to avoid this behavior?

[2017-05-17 15:10] Tiendq commented on #52
My issue is a big white space following `p` tags, and marginBottom has no effect 👎

[2017-05-21 16:11] csomakk opened #101 "can't change default color"
Hi! I'm not setting color in html but, I'd like to set id for all text, outside.
Any idea?
Cheers

like:
                <HTMLView
                    value={shortText}
                    stylesheet={htmlStyles}
                    style={{
                        color: "white"
                    }}
                />

[2017-05-21 16:16] csomakk commented on #101
thinking
<Text key={index} style={parent ? opts.styles[parent.name] : null}> could have a default instead null?

[2017-05-22 18:31] G2Jose opened #102 "Support regex tags"
Related to https://github.com/jsdf/react-native-htmlview/issues/70.

Currently it seems like keys in the param for `StyleSheet.create` only take simple strings (`'div'`, `'a'` etc). It would be really useful to support regex in order to be able to match multiple tags (Eg: something like `'.'` to match all tags).

[2017-05-22 18:40] G2Jose opened #103 "Styles don't seem to cascade"
It seems like styles applied to a tag currently do not cascade to child tags. I have a problem similar to https://github.com/jsdf/react-native-htmlview/issues/70, but the solution presented there does not seem to work.

I have an API that returns strings that sometimes have html tags, and sometimes do not. I want to style all text returned in the same way (same `fontSize`). I tried wrapping all te

[2017-05-24 11:32] lihjay opened #105 "IOS error: RCTJSONStringify() encountered the following error: Invalid type in JSON write (NSError)"
I am running in the IOS, the following error:
RCTJSONStringify() encountered the following error: Invalid type in JSON write (NSError)

some page can loaded,but some page can't loaded.
Is it because some long html causes this error??

[2017-05-24 18:32] emik opened #106 "<li> subsequent list items do not wrap to the next line"
Is anyone else having this issue?

![react native li](https://cloud.githubusercontent.com/assets/2894097/26419413/972ad0e6-40b7-11e7-88e2-a769d09042a9.PNG)

Styling with flex doesn't seem to do anything. Source html for the image:

`<ul><li>test1</li><li>test2</li></ul>`

[2017-05-25 07:11] nandastone commented on #63
The result of `renderNode` should be *null*, not *false*: https://github.com/jsdf/react-native-htmlview/blob/master/htmlToElement.js#L39

Returning false will simply fallback to the default node renderer.

[code]

[2017-05-25 15:41] emik commented on #106
Didn't realise that it takes into account \n text line breaks to implement them

[2017-05-25 15:41] #106 closed

[2017-05-29 02:06] jsdf commented on #105
I haven't run into that error but that seems like a possibility

[2017-05-29 02:40] #65 closed

[2017-05-31 14:35] gregblass commented on #7
Also, is there any reason why `marginBottom: 20` wouldn't work on a p tag? I could just pass in `addLineBreaks={false}` and control the bottom margin on paragraphs myself and then not have to modify the library code, but for some reason it isn't being applied.

[2017-06-01 07:23] Tarkzeng commented on #105
I had catch the same error but not NSError:
RCTJSONStringify() encountered the following error: Invalid type in JSON write (**NSURL**)

@lihjay   Have you solved it?

[2017-06-01 13:29] gregblass commented on #52
IMO, biggest issue of the library. Can't control bottom margin on `p` tags.

[2017-06-01 16:07] gregblass commented on #52
This is driving me nuts. I've forked this repo and modified to to a barebones version, and for some reason rendering `Text` elements inside the parent `View` component just ignores margins. Other styling works (like colors), but for some bewildering reason, it ignores margins on text elements.

[2017-06-01 16:13] gregblass commented on #52
I see why now. Its wrapping the text component that you're attempting to apply a style to with another text component, which overrides the margin.

[2017-06-05 04:51] Tiendq commented on #52
@gregblass did you mean `<Text><Text></Text></Text>` and we're trying to style the inner `Text`? :(

[2017-06-05 19:05] dijonkitchen opened #109 "How is this different/better than the official WebView component?"
Looks like React Native's WebView component can render HTML too:
https://facebook.github.io/react-native/docs/webview.html#source

[2017-06-10 20:49] vitormalencar commented on #101
Any update about this?

[2017-06-12 09:40] peterpeerdeman commented on #109
This component parses html and converts the tags to native components, which is very lightweight performance wise. The React Native WebView renders the html in a webview component which will render the html as a browser would (with css styling and all) and is a much heavier component in your view, performance wise.

[2017-06-12 10:42] dijonkitchen commented on #109
Got it, thanks!

[2017-06-12 10:42] #109 closed

[2017-06-13 11:46] indrasantosa commented on #58
Here is what I did.

Define the element like this
[code]

And use it like this
[code]

[2017-06-15 09:26] myhendry opened #111 "Nesting of <View> within <Text> is not supported on Android"
hi. I get the above error when i try to run on Expo on our Android device

anyone encountered? n how do you resolve this error? thanks

[2017-06-16 08:27] lujck commented on #93
+1

[2017-06-17 07:21] kishanj918 commented on #111
+1

[2017-06-17 18:25] flavordaaave commented on #91
I'm trying to set `textAlign: center` on an `h1`. Setting a `backgroundColor` to the `h1` tag shows that the problem is that the view is not taking the full width. So I tried setting `width: Dimensions.get('window').width` but the `h1` is still NOT taking the full width and not centered.

[2017-06-17 20:39] flavordaaave commented on #91
#58 has a working solution

[2017-06-17 20:46] flavordaaave commented on #58
The `HTMLView` accepts an (undocumented) `style` prop. So you could also apply the wrapper style directly to the `HTMLView`:
[code]

[2017-06-20 08:01] xsgkaka opened #113 "why the width style attr is not working"
like this :
`htmlstr = "<aaa>{'hello'}</aaa>";`
 styles:
`aaa:{
 width:300,
backgroundColor:"red"
}`
but width  prop is not working.

[2017-06-20 08:06] xsgkaka commented on #111
<Text> is the root element.

[2017-06-20 08:13] xsgkaka commented on #58
i got the solution
i use the 0.9.0. change the line 96 in htmlToElement .to like this
`<View key={index} onPress={linkPressHandler}>
            {linebreakBefore}
            {listItemPrefix}
            {domToElement(node.children, node)}
            {linebreakAfter}
          </View>`

[2017-06-20 09:00] xareelee opened #114 "using <b> tag will break the line"
Using `<b>` tag inside a string will break the line.

[code]

* Expected:

* What I got acctually with **react-native-htmlview**:

By the way, is there any convenient tag to add attributes to specific words in a string?

[2017-06-20 21:33] WorldWideWebb commented on #52
Is there a fix for that?

[2017-06-20 21:41] gregblass commented on #52
No. I modified this library pretty heavily for my own project. The double <Text> are gonna be hard coded in there. I needed control over my paragraph margins and wanted to add stuff like unordered list items, etc.

[2017-06-20 22:10] gregblass commented on #52
I believe this was the culprit: https://github.com/jsdf/react-native-htmlview/blob/master/htmlToElement.js#L42

So the 'text' there represents actual raw text, which gets put into a `Text` component.

That gets wrapped in a parent `Text` component here, recursively: https://github.com/jsdf/react-native-htmlview/blob/master/htmlToElement.js#L95

Parent text component doesn't take any styles as prop

[2017-06-20 22:30] WorldWideWebb commented on #52
Ah - yes. I see what's going on.

[2017-06-21 08:53] Adamnator92 commented on #62
I 服了 You

[2017-06-21 19:05] VitorSuperlogica commented on #111
+1

[2017-06-21 21:22] KClough commented on #56
Bumpity bump bump.

[2017-06-22 09:29] tikkichan4 opened #115 "How can i use local assets in img node?"
Lets say i have a PNG file located in :
<Project Folder>/app/src/Assets/logo.png

How can i use the html-view to display this local asset ?
Thanks a lot.

[2017-06-23 09:14] #115 closed

[2017-06-23 16:18] RobPando commented on #58
@xsgkaka This throws an error of `RawText "" must be wrapped in an explicit <Text> component` and @flavordaaave solution only center aligns the first tag if you have multiple tags. I found a global solution, I created a PR for it #116 this makes the entire value of the component align text center. due to the implementation it is complicated to make them independently align text. But if you are loo

[2017-06-25 19:53] hdchan opened #117 "how to render default"
I want to wrap a p tag with my own styles, how would i be bale to use the renderNode method to take the current node, and simply returned it wrapped with the original node being the same?

[2017-06-26 17:39] agustind commented on #114
Had the same problem, fixed it like this:

`<HTMLView style={{flex:1, flexDirection: 'row', alignItems: 'flex-start', flexWrap: 'wrap'}} value={myhtmlcontent} />`

[2017-06-26 19:49] Tom29 opened #118 "Couldn't load large image and how do i scale it?"
My HTML text has 1500x1500 image, and it couldn't be load. It loads the blur one.
Then, how do i scale and style image?
I've tried
[code]

But didn't work.

[2017-07-03 05:18] AntAreS24 commented on #114
Looking at the code, there is a prop called `addLineBreaks`. Try to set it to false?

[2017-07-03 06:32] richchurcher commented on #117
I'm not entirely clear what it is you're asking here. Can you provide an example or some more detail to illustrate your problem?

[2017-07-03 06:50] richchurcher commented on #101
@csomakk You can change the style (or other props) of the underlying `Text` component like so:

[code]

[2017-07-03 07:01] richchurcher commented on #111
I think this is the expected behaviour: per http://facebook.github.io/react-native/releases/0.42/docs/text.html#nested-views-ios-only , we can only nest Views inside Text on iOS. You can however try using HTMLView in place of a Text node, and pass any props down to the Text node via `textComponentProps`:
[code]

[2017-07-03 07:02] #101 closed

[2017-07-03 07:08] richchurcher commented on #118
@Tom29 I'm having some trouble reproducing your problem. I just dumped a 2560x1600 image into an HTMLView and it displayed in proportion, with no blur. You might need to post some more code, and perhaps the image you're testing with.

[2017-07-03 08:29] richchurcher commented on #114
Yes, that behaviour's probably not ideal right now. It's not just `<b>`: even a `<span>` will reproduce this. Note that it's not an issue if you can wrap the content in a block-level tag:
[code]
I imagine there's a reasonable way to correct this, but for now it'll probably require a wrapper.

[2017-07-03 09:16] richchurcher commented on #70
Props can now be passed to the `Text` component via `textComponentProps`: see updated docs for details. This includes passing the `style` prop :)

[2017-07-03 09:16] #70 closed

[2017-07-03 10:20] richchurcher commented on #105
@lihjay or @Tarkzeng can you post a minimal example (preferably in a repo somewhere) using the latest `react-native-htmlview` which reproduces the problem? Cheers!

[2017-07-03 10:23] richchurcher commented on #102
We can now style the entire HTMLView using `textComponentProps` (see updated documentation). Given this, a wildcard style is probably unnecessary. Please feel free to open another issue/PR if you feel strongly about it.

[2017-07-03 10:23] #102 closed

[2017-07-03 10:24] richchurcher commented on #95
@jsdf would you have any objection to Apache 2? It's a pretty good default when you don't have strong feelings one way or the other.

[2017-07-03 10:26] #71 closed

[2017-07-03 10:26] #40 closed

[2017-07-03 10:29] #62 closed

[2017-07-03 10:31] richchurcher commented on #61
I can't read this issue! Is it ready to be closed yet? :smile:

[2017-07-03 10:35] aqnaruto commented on #61
it is ought to close ,because the asker is a idiot

[2017-07-03 10:35] richchurcher commented on #92
Looks like this was fixed :)

[2017-07-03 10:35] #92 closed

[2017-07-03 10:37] richchurcher commented on #61
I'll take your word for it!

[2017-07-03 10:37] #61 closed

[2017-07-03 10:39] #51 closed

[2017-07-03 10:41] #41 closed

[2017-07-03 11:10] #26 closed

[2017-07-03 11:12] #2 closed

[2017-07-03 11:13] #28 closed

[2017-07-03 12:50] AntAreS24 opened #120 "How do you use defaultRenderer?"
I'm currently using v0.9.0.

I need to customise the rendering to add special styles before rendering the object. I'd like to wrap the renderer with my Views with styles. I've tried to create the wrapper then call the default renderer but I'm getting an error message:
[code]

My renderer is as follow:
[code]

[2017-07-03 13:00] AntAreS24 commented on #120
Nevermind. I needed to pass the children to the defaultRenderer. Would be good if there were an example of that...

[code]

[2017-07-03 18:12] Tom29 commented on #118
@richchurcher here is my simple code:

`<HTMLView value={'<img src="https://s1.storage.5giay.vn/image/2017/07/20170704_fc07d6b96d0bf4580b9555c52b16eaf2_1499102114.jpg">'} />`

And the result is the blur image, it's blur randomly (80%)

[2017-07-03 19:55] richchurcher commented on #118
Unfortunately I still cannot reproduce. Your image looks fine to me, testing with RN 0.45 and react-native-htmlview 0.10 on Android, even after many reloads.

The fact that it is an intermittent problem is suspicious of a networking issue or even a low memory state. I note that https://github.com/facebook/react-native/issues/10470 describes someone having difficulty loading moderate-sized images..

[2017-07-03 19:58] richchurcher commented on #120
Good thought, feel free to submit a PR :)

[2017-07-03 19:58] #120 closed

[2017-07-03 20:00] richchurcher commented on #89
Hrm. I can see how this might be useful for i18n, but it feels like it wouldn't be a trivial project. I may be wrong: a PR in this direction would be welcome :smile:

[2017-07-03 20:07] richchurcher commented on #113
@xsgkaka By default the `Text` component is used: this does not support styling of height and width (see https://facebook.github.io/react-native/docs/text.html#style for a list of available styles). You can now pass in a component to use in place of `Text` which might allow more flexibility (see updated docs for `TextComponent` and `NodeComponent`).

[2017-07-03 20:07] #113 closed

[2017-07-03 20:13] richchurcher commented on #87
@harish220 By default the `Text` component is used: this does not support styling of height and width (see https://facebook.github.io/react-native/docs/text.html#style for a list of available styles). You can now pass in a component to use in place of `Text` which might allow more flexibility (see updated docs for `TextComponent` and `NodeComponent`).

You can also to some extent control height of

[2017-07-03 20:13] #87 closed

[2017-07-03 20:15] richchurcher commented on #97
Fixed in 0.10.

[2017-07-03 20:15] #97 closed

[2017-07-03 20:21] richchurcher commented on #100
This is likely related to #35 , and it's not limited to comments. For example,
[code]
will render as:

Hello.
Foo.
**Bar.**
*Wombat.*

One workaround until we can improve this behaviour would be to wrap the HTML you're trying to render in a block level element. For example:
[code]

[2017-07-03 20:28] richchurcher commented on #103
@G2Jose You shouldn't need to do this now that you can pass a `style` prop via `textComponentProps`. You're correct that cascading is not working as yet, but there are several proposals to make that happen :smile:

[2017-07-03 20:28] #103 closed

[2017-07-03 20:39] pzehle commented on #100
Hey! I'm going to try this and I'll keep you posted.

Thanks for the response.

[2017-07-03 21:05] richchurcher commented on #93
@lucasleelz Currently image styles are not passed on to the underlying component. You can set width and height via attributes, but that's about it. However, I think our team is likely to need this for a current project so it may be added shortly :)

[2017-07-03 21:23] #68 closed

[2017-07-03 22:10] #84 closed

[2017-07-03 22:13] richchurcher commented on #83
`loadUrl` displays pretty well any URL which I think is outside the scope of this package. Sorry!

[2017-07-03 22:13] #83 closed

[2017-07-03 22:42] richchurcher commented on #30
@GCour this is working on Android in the current version. If you continue to have any difficulties, can you open a new issue? Thanks!

[2017-07-03 22:42] #30 closed

[2017-07-03 22:42] #63 closed

[2017-07-03 22:44] richchurcher commented on #29
`<table>` isn't likely to be supported in the near future... PR welcome though! :wink:

[2017-07-03 22:44] #29 closed

[2017-07-03 22:46] richchurcher commented on #9
This seems likely to have been an issue unrelated to this package. It's been over a year: if you're still having problems, please open a new issue and we'll try to get to the bottom of it!

[2017-07-03 22:46] #9 closed

[2017-07-03 22:51] richchurcher commented on #12
Correct. I guess one possibility would be to pass in something else in place of `Text` via the `TextComponent` prop (see updated docs).

[2017-07-03 22:51] #12 closed

[2017-07-03 23:06] richchurcher commented on #94
I don't... really see what's intended here? You should be able to just do this:
[code]
Maybe if this doesn't answer your question, you could provide more detail about what you're trying to accomplish?

[2017-07-03 23:08] richchurcher commented on #20
Works on device.

[2017-07-03 23:08] #20 closed

[2017-07-03 23:10] richchurcher commented on #13
It's certainly a possibility, though I think other fixes are probably higher up the priority list. PRs welcome! :smile:

[2017-07-03 23:10] #13 closed

[2017-07-03 23:10] #45 closed

[2017-07-03 23:12] richchurcher commented on #91
Closing in favour of #58 .

[2017-07-03 23:12] #91 closed

[2017-07-03 23:13] richchurcher commented on #10
@j010wdz @oillamp can you confirm that this is still an issue with the latest version (0.10)?

[2017-07-03 23:14] richchurcher commented on #100
Consolidating this issue at #114 .

[2017-07-03 23:14] #100 closed

[2017-07-03 23:18] richchurcher commented on #86
@mark0978 if you're still interested in this, let me know :smile: there are some related PRs, and a recent change to the library allows passing in a component in place of `Text`.

[2017-07-04 03:19] Tom29 commented on #118
@richchurcher I tested on simulator (iOS) and real device (iPhone 7, and 7 plus release mode)
`react-native-cli: 2.0.1
react-native: 0.44.0`
react-native-htmlview latest version.

Both has the same result, blurred images.
Have you tested in on iOS?

[2017-07-04 05:44] richchurcher commented on #118
Nope, I can't currently test iOS builds (hopefully after this week though). There is some image size and width manipulation that happens under the hood, so it's possible something is going wrong there but I think the way forward would be to publish a minimal repo that reproduces your problem so others can check it. The process might also reveal to you what's happening, or give us some more clues.

[2017-07-04 07:47] Tom29 commented on #118
@richchurcher you should test in iOS. Because there is no need more code to investigate.
Here is my completed file:

[code]

With this simple file, it blurs randomly.
I think this is because of resizing mechanism hasn't completed.

[2017-07-04 08:01] northern-fox opened #121 "Please, add numberOfLines property"

[2017-07-04 13:46] mark0978 commented on #86
For my purposes that webview is working.  The htmlview is just a bit too far from the webview for me to use.  Thanks though.

[2017-07-04 13:46] #86 closed

[2017-07-04 21:04] richchurcher commented on #121
`numberOfLines` can now be added to the underlying `Text` component props using `textComponentProps`: see updated documentation.

[2017-07-04 21:04] #121 closed

[2017-07-04 21:35] jasongrishkoff commented on #7
Encountering this issue as well on my side. The span solution isn't ideal as it causes a whole bunch of other formatting inconsistencies.

[2017-07-05 11:54] gregblass commented on #7
There is a parent `Text` component wrapping any child `Text` components in this library. I ended up forking it and re-writing for my use case. IMO its a fairly significant oversight because of the fact that nested Text components in React Native will ignore margins and padding, which cripples your styling options.

[2017-07-05 20:12] RobertWSaunders commented on #118
Can confirm, this is an issue on iOS, I am having a similar issue. Image appears to be blurry. How do you specify height and width?

[2017-07-05 20:18] richchurcher commented on #118
Thanks @RobertWSaunders that's useful! Width and height can be passed the old fashioned way, as image attributes I believe (https://github.com/jsdf/react-native-htmlview/blob/master/htmlToElement.js#L18-L24). Try setting an explicit value there and see what happens. I don't think I can explain why the failure is intermittent though :confused:

[2017-07-05 20:22] RobertWSaunders commented on #118
Thanks @richchurcher, that seems to work! It looks like a strange issue, in some scenarios it starts out blurry and then loads in properly, it does occur with smaller image files as well.

[2017-07-05 20:36] richchurcher commented on #118
Good. Maybe the docs should make reference to setting width and height explicitly. @Tom29 can you try this and see if it resolves the issue for you?

[2017-07-06 03:32] Tom29 commented on #118
@richchurcher Yes, it works with specified width and height.
But this is hard to use, how do i know size of each one to set width / height for them

[2017-07-06 08:34] richchurcher commented on #118
I think the real solution is to allow styles to be set for images, but that'll take a minor-ish PR to sort out.

[2017-07-10 09:52] lucasleelz commented on #93
@richchurcher thank you

[2017-07-10 09:53] lucasleelz commented on #97
@richchurcher thank you~

[2017-07-10 13:32] isilher commented on #114
Alternatively, since `0.10` you can set `RootComponent={Text}` to make the content display inline style. Note that this can break when the html contains images. (can't render image within text component).

A side effect of both this and the wrapping `<div>` approach is that you'll lose line breaks between paragraphs etc.

[2017-07-10 16:37] jsdf commented on #95
'ISC' was already specified in the package.json, so I just added the appropriate license file

[2017-07-10 16:37] #95 closed

[2017-07-10 17:03] isilher commented on #114
Wrapping paragraphs in a `<p>` tag works too, if you have control over the HTML source.

[2017-07-14 09:47] #117 closed

[2017-07-14 21:47] #94 closed

[2017-07-14 21:47] #89 closed

[2017-07-15 10:22] RazerTang opened #128 "fail to install react-native-htmlview"
When i  type 'npm install react-native-htmlview --save' command in my terminal,it shows like  below,and i found plenty of packaes were removed.how can i sove  this  problem?
react-native-cli:v2.0.1
react-native:v0.46
nodejs:v8.1.4
![2017-07-15 6 19 52](https://user-images.githubusercontent.com/5905640/28238631-8e01d3a6-698a-11e7-829a-1e6d692b63fa.png)

[2017-07-17 10:53] johntom opened #129 "react-native 41"
If I load
import HTMLView from 'react-native-htmlview';

results in the following when bringing up app
Unable to resolve module prop-types from /Users/Mike/NSP6/NSP6-BB2/node_modules/react-native-htmlview/HTMLView.js:

[2017-07-17 18:47] richchurcher commented on #129
Hrm. Without more details, I would suggest trying this (assuming MacOS or Linux):
[code]
Be sure to stop the RN packager from running first. Substitute `npm` for `yarn` if you're not using Yarn. The `prop-types` module is React externalising proptypes, and it should be brought in by `react-native-htmlview` via its `package.json`, but maybe something's screwy with your local install.

[2017-07-17 19:01] richchurcher commented on #128
This is more than likely due to npm 5, which comes with Node 8 and represents a breaking change for some packages. I'll investigate further, but you can probably just use Yarn if you're comfortable with that:
[code]

[2017-07-17 19:06] richchurcher commented on #128
Actually @RazerTang there are a number of known issues with npm 5 it seems. Can you please try rolling back to v4 with:
[code]
and see if it solves your problem? It would probably be wise to entirely remove `node_modules` for your project too.

[2017-07-18 14:55] Antoine38660 commented on #92
Hey, we are using `react-native-htmlview` in [gitpoint/git-point](https://github.com/gitpoint/git-point) and as I said in https://github.com/gitpoint/git-point/issues/92, this issue doesn't seem to be fixed.

@richchurcher on wich version it looks like to be fixed ? :)

----

Screenshot:
<img src="https://user-images.githubusercontent.com/9287184/28253035-b7282c0e-6a74-11e7-8a7c-3774af66e447.jpg"

[2017-07-19 11:40] centotaure commented on #7
Having this issue as well, is an official fix planned ? ( RN 0.44.3 )

[2017-07-19 12:44] johntom commented on #129
Hi,
I am on a mac and did the above (rm -rf node_modules && yarn install && yarn start --reset-cache) suggestion which caused an upgrade issue that cause my app to fail and it took me a while to track down but was happy that I was able to figure it out. I still get the same error and currently using Webview although I perfer your component.
J

[2017-07-19 13:58] gregblass commented on #7
I can't speak for the developer here, but I didn't have time to wait around. You could always submit a PR with that extra `Text` element removed. Or fork this repo and use your own. As soon as I get a spare second I may either upload my fork or submit a PR for this. The issue is that I changed a lot of code, so I may just upload my fork to github.

[2017-07-19 15:57] bsonntag commented on #129
@johntom try `yarn add prop-types` and then restart the packager with `yarn start --reset-cache`.

As an extra tip, to prevent upgrade issues in the future, install your dependencies with the `--exact` flag, like this: `yarn add --exact react-native-htmlview`.

[2017-07-19 16:03] johntom commented on #129
Thanks for that tip and will try tomorrow

[2017-07-19 17:43] Tom29 commented on #118
@richchurcher have you done it yet?

[2017-07-20 07:42] isilher commented on #7
From `0.10.0` you can pass your own values for `bullet`, `paragraphBreak`, `lineBreak`, `NodeComponent`, `nodeComponentProps`, `RootComponent`, `rootComponentProps`, `TextComponent` and `textComponentProps`. That should allow for multiple approaches to solve this issue as best fits your use case.

[2017-07-21 21:37] pekkanikolaus opened #134 "Is it possible to have <img>s with local URIs?"
Does react-native-htmlview support <img> tags with images local to the project?

I can't seem to get it to work with any path, even when they work as expected when passing them to a RN `<Image>` element.

[2017-07-22 02:30] richchurcher commented on #134
@pekkanikolaus at the moment it's assumed that the resource is remote: the `{ uri: ... }` object is passed to the underlying `Image` component. That should be a fairly easy fix, so if you'd like to PR it feel free! Otherwise it'll join the 'nice to have' feature list :wink:

[2017-07-22 02:34] richchurcher commented on #129
In theory, `react-native-htmlview` should work correctly even if the `prop-types` package is not installed in the parent project (just tried it with a fresh app). I'm not quite sure what issue you're encountering here but I don't _think_ it's related to this package. If you can reproduce it with a fresh `create-react-native-app` and post a repo for us to look at, please do! Closing for now though.

[2017-07-22 02:34] #129 closed

[2017-07-22 02:35] richchurcher commented on #118
Nope. PR welcome though! :wink:

[2017-07-22 03:38] richchurcher opened #135 "ol doesn't handle intervening whitespace well"
As of 0.11.1, this is still a problem:
[code]
produces:
[code]
whereas this:
[code]
produces:
[code]

[2017-07-22 04:00] #135 closed

[2017-07-22 06:42] RazerTang commented on #128
finally I use npm version 4 sovle this problem.thanks @richchurcher

[2017-07-22 08:06] pekkanikolaus commented on #134
@richchurcher Thanks! Still new to all this, but will give it a try!

[2017-07-22 08:28] richchurcher commented on #128
Awesome!

[2017-07-22 08:28] #128 closed

[2017-07-22 10:06] pekkanikolaus commented on #134
OK! So I gave this a try, but there's a couple of snags.

I added support for local URIs by checking whether a `local` attribute in the `<img>` tag is set. If it is, I will use `require(props.attribs.src)` as the URI, rather than the `src` string itself. So far, so good.

One snag is that there's no built-in way to determine the dimensions of a local image bundled with the project, so one would ei

[2017-07-22 23:28] richchurcher commented on #134
Hrm, ok. Will have a wee think about this one :)

[2017-07-22 23:38] #5 closed

[2017-07-22 23:49] #57 closed

[2017-07-23 00:48] #10 closed

[2017-07-23 00:49] richchurcher commented on #32
Closing as noted in PR, feel free to resubmit against the current version if desired :smile:

[2017-07-23 00:49] #32 closed

[2017-07-23 00:50] richchurcher commented on #105
Closing for now, please feel free to submit another issue if this continues to be a problem with the latest version.

[2017-07-23 00:50] #105 closed

[2017-07-23 00:50] richchurcher commented on #58
Should work as soon as 0.12 is published :smile:

[2017-07-23 00:50] #58 closed

[2017-07-23 00:54] richchurcher commented on #56
At this stage I'm going to say this is a won't fix... I think it makes more sense to keep the styles in the component rather than the HTML. You could potentially strip the styles out in a parent component and process them using [css-to-react-native](https://github.com/styled-components/css-to-react-native) if desired.

[2017-07-23 00:54] #56 closed

[2017-07-23 00:55] #7 closed

[2017-07-23 01:06] richchurcher opened #137 "Use of fontFamily Menlo on Android"
Menlo isn't available by default on Android, so `<pre><code>...</code></pre>` triggers an error.

[2017-07-23 04:49] #137 closed

[2017-07-23 04:57] richchurcher commented on #52
So of the problems reported in the OP, the `<pre>` and `<ol>` issues are solved. The first issue,
[code]
now produces:
[code]
which I guess is marginally better in that it recognises a paragraph should break to a new line! The broken appearance of the rest of the text is because each inline element is receiving a newline, which is obviously not ideal but appropriately summarised in #114 so I'm goi

[2017-07-23 04:57] #52 closed

[2017-07-23 06:13] richchurcher commented on #114
I think there's probably a solution somewhere with wrapping any nodes that don't have a parent in a `Text` component to allow `flexDirection: 'row'`... which would also probably make handling block level elements easier, since they'd just be shunted to the next line in the flex column, no need for `\n`. Just not quite sure how to do that with htmlparser2 yet... :thinking:

[2017-07-25 00:46] EzioKissshot commented on #137
Aha, I faced this bug and see you already fixed it.

[2017-07-25 06:54] richchurcher commented on #137
Just waiting on a push to npm from the maintainer when he gets a moment :)

[2017-07-31 01:08] yogevlahyani opened #141 "Text direction is randomized ?"
Hi, I have a screen that's changes text in htmlview on button click, it seems that the text alignment is changing randomly (I have a forced ltr app, on my rtl device)

[2017-07-31 01:47] richchurcher commented on #141
Hi @yogevlahyani :) Can you provide a minimal example that reproduces the problem please? Also say device/version, React Native version and `react-native-htmlview` version.

[2017-07-31 01:53] yogevlahyani commented on #141
Hi @richchurcher :)
My device is LG-H815 android 6.0
My device system language is Hebrew so my device has RTL.

`
"react": "^16.0.0-alpha.12",
"react-native": "^0.46.3",
"react-native-htmlview": "^0.9.0",
`

I can't actually give an example right now, but like I explained it is showing me the HTMLView text aligned left or right (it even once centered my text) randomly ..

I will edit a GIF soon, T

[2017-08-01 07:58] puzpuz commented on #111
@richchurcher I experience the same problem on Android, I understand that it's an expected behavior, could you elaborate more on how we work around it? Thank you

[2017-08-03 10:36] Liqiankun opened #142 "how to set paragraph space"
This is my style of p tag
[code]
But It does not work. The paragraph space is still huge！
![simulator screen shot 2017 8 3 6 36 14](https://user-images.githubusercontent.com/11532418/28918109-ae6c3272-787a-11e7-8095-abaa57f852d0.png)

[2017-08-04 01:33] Liqiankun commented on #142
After I set `addLineBreaks={false}`the space is still not what I want!

[2017-08-04 22:16] richchurcher commented on #111
@puzpuz Can you provide an example demonstrating the problem you're having? We might be able to give you some advice on a workaround.

[2017-08-04 22:18] richchurcher commented on #142
We currently aren't able to fine-tune paragraph spacing beyond using `paragraphBreak`, `lineBreak`, and `addLineBreaks`. PRs in that area very welcome though :smile:

[2017-08-07 01:46] Liqiankun commented on #142
@richchurcher OK, thanks  man!

[2017-08-07 09:32] #142 closed

[2017-08-07 09:57] samw2k00 opened #143 "defaultRenderer does not take in Node but asking for DOM"
In the renderNode, the last parameter suppose to be defaultRenderer which take in node and it parents. but upon calling it, its calling "domToElement" which basically take in a DOM not a node.
is there a function to convert NODE back into dom?

[2017-08-07 10:06] #143 closed

[2017-08-07 10:06] samw2k00 commented on #143
Sorry my bad, it meant to take in node.children instead of node

[2017-08-07 16:36] ioan-ghisoi-cko opened #144 "How can I include a script form a cdn online?"

[2017-08-08 17:31] laurasantana commented on #114
This issue keeps happening and none of the solutions above fix it for me

[2017-08-09 06:21] puzpuz commented on #111
@richchurcher Thank you for your response and sorry for my late reply. I just running the example code on android emulator, and a red error message shown up saying  "Nesting of <View> within <Text> is not supported on Android"

[2017-08-10 11:12] ifzm opened #145 "Questions about blocking UI threads"
Hello, when i parse a larger html, block the main thread for a long time, what are the optimization options?

[2017-08-10 17:02] zarcode commented on #52
@gregblass @kengorab anyone can help me with this issue
https://www.screencast.com/t/8hOZoocMHS
I am getting too much whitespaces between elements. This is how html looks:

`<p>Hello this text is <strong>Bold</strong> and this one is <em>italic</em>. Add some link <a href="http://some.com" target="_blank">link</a> not <del datetime="2017-08-10T06:02:09+00:00">deleted</del>.</p>
<blockquote><p>quot

[2017-08-10 20:30] richchurcher commented on #145
Yeah, that's almost inevitable with larger chunks of markup (which this library isn't very well-suited to dealing with). You could possibly chunk the data you're processing using a series of `HtmlView`s and `requestAnimationFrame` (see https://facebook.github.io/react-native/docs/timers.html) to break up the work.

[2017-08-10 20:47] richchurcher commented on #111
@puzpuz can you provide a simple piece of code that reproduces the problem you're having? You could modify this one if you like:
[code]

[2017-08-10 21:05] richchurcher commented on #52
@zarcode In a multiline string (denoted by backticks `` `<p>...</p>` ``) newlines are preserved. I suspect this is what you're seeing. Compare the behaviour of the following:
[code]
![sample](https://user-images.githubusercontent.com/171905/29191978-b9e26a6e-7e73-11e7-847f-27de5772d930.png)

Presumably the content you're displaying will be arriving in a non-preformatted way, so you should be ok. T

[2017-08-11 06:58] ifzm commented on #145
Yeah，i can only think so.
Thank you for your enthusiastic answer :D

[2017-08-11 06:58] #145 closed

[2017-08-11 07:15] jsdf commented on #144
I don't think what you're referring to is possible with this library

[2017-08-16 15:08] abeltje1 commented on #111
I'm experiencing the same issue on RN 0.47 (albeit hardly ever). I use this package as a converter for my RTE on the web-end which is why I can't control the exact HTML input and I'm afraid my clients will, at some point, produce certain HTML which will break it. Do you guys have a tip on how to counter all possible cases of this issue?

[2017-08-18 03:44] SunnyEver0 opened #147 "<div> not break lines"
I have meet this problem, the html code
[code]
but showed in this
![simulator123](https://user-images.githubusercontent.com/20034835/29443342-ffeeb454-8409-11e7-95b4-aa5aba21b6d8.png)
and in brower
<img width="327" alt="123" src="https://user-images.githubusercontent.com/20034835/29443426-77e9e05a-840a-11e7-8f9b-588f5fbcdbad.png">
how to reslove this problem?
thanks a lot.

[2017-08-21 02:26] richchurcher commented on #144
Well... I guess in theory, you could grab a remote chunk of markup from wherever you like and display it. However, if you mean using `<script>` tags then no, that isn't possible (or desirable).

[2017-08-21 02:26] #144 closed

[2017-08-21 02:42] richchurcher commented on #141
It really would be beneficial to see a source example just to make sure we can reproduce what you're seeing... otherwise it's just guesswork! Doesn't have to be complicated at all, just a few lines from an `App.js` in a newly-created `create-react-native-app` is the simplest way I find.

[2017-08-21 02:59] richchurcher commented on #111
@puzpuz Thanks for the example, that makes it much clearer. In this case the error is caused by returning a `View` from `renderNode` when an `iframe` is encountered. Since `HTMLView` uses `Text` nodes for most things, you're already inside `Text` by the time you come to the `iframe` tag. Removing the `View` wrapper will remove the error, although you won't be able to set width and height in the sa

[2017-08-21 04:49] richchurcher commented on #147
Yep, this is a current bug. To more succinctly reproduce:
[code]
If you remove the outer div and instead pass an object with a `style` property to your HTMLView using `textComponentProps`, you can work around this for now (the inline `style` attribute on your outer div wouldn't have worked anyway):
[code]

[2017-08-21 07:03] SunnyEver0 commented on #147
First,I'm so glad u have understood my option with my poor English.Aha,according to use this method,I have fixed this problem.But if I remove the outer div,maybe to lost the style of the whole text and using regex to remove html code of `<div>`, I probably think it's too complex in the front-end.

[2017-08-21 19:55] richchurcher commented on #147
Your English is fine :smile: I hope I can devote some time to fixing the nesting issue soon, but it definitely still wouldn't support the inline style. Hope you find an alternative solution.

[2017-08-23 15:54] perrycbrown opened #148 "Using the <sup> superscript"
I'm having a really difficult time getting superscript html like:

<sup>1</sup>More words here...

...to actually look like superscript, i.e. the text baseline is elevated compared to non-superscript text that follows it..

I've used every font style/alignment/margin/padding combo I can think of on <sup> elements, and the superscript baseline remains the same as the text following it outside the <

[2017-08-29 12:44] Jayiitb commented on #142
Thanks for this wonderful component.
Any progress on this issue?

[2017-08-29 13:12] jraack commented on #148
@perrycbrown You can try to use the renderNode function like;
<HTMLView renderNode={this.renderNode} />

This is working on IOS, but not on Android because android does not support View in Text Component.

Inside your renderNode function; place;

 if(Platform.OS === 'ios'){
            if (node.name == 'sup') {
                return (
                    <View style={{flexDirection: 'row', alignI

[2017-08-29 13:18] jraack opened #149 "Nested UL > LI > UL"
Hi All,

Is this even possible? I could not figure it out. But it seems it is not rendering nested ul's within ul > li nodes.

Suggestions?

Best,
Joe

[2017-08-29 13:47] perrycbrown commented on #148
Super! Thanks!

[2017-08-30 06:50] JaekwanJeon opened #150 "<p> and <img> tag combine not working"
Hello~!

 `<p><img src ...></p>` image not displayed
but `<img src ...>` image displayed.

(1) it's not work(img not displayed)

[code]

(2) it's work(img displayed)
(
[code]

how can display image with `<p>` tag?

[2017-08-31 13:39] mrcaobin commented on #150
I got same problem

[2017-09-05 16:33] ciriac commented on #150
Is this on Android? This is because nesting of views is [not supported on Android](http://facebook.github.io/react-native/releases/0.42/docs/text.html#nested-views-ios-only).

Does anyone have a fix or workaround for this?

[2017-09-06 09:35] korgara opened #151 "Inline Image"
Hi. Thank for this great lib, but there is a kind a wierd trouble.
I tried to parse emoji images ``` <img class="emoji" width="40" height="40" src='http://192.168.0.107:1911/static/emoji/${index}.png' />``` and it works, but all images behave themselves as a 'display: block'.
![2017-09-06 12-29-14](https://user-images.githubusercontent.com/24753645/30104741-339f1ace-92ff-11e7-8be3-d1482717c56a.png

[2017-09-11 14:51] JohnBlazek opened #152 "Replace View.propTypes with ViewPropTypes"
Receiving this warning when using this module.

```Warning: View.propTypes has been deprecated and will be removed in a future version of ReactNative. Use ViewPropTypes instead.```

Currently building with "react-native": "0.46.4"

[2017-09-14 06:18] laclys opened #153 "How can i use the native copy and paste ,like Text Component selectable?"
How can i  use the native copy and paste ,like Text Component selectable

[2017-09-15 10:42] laclys commented on #153
help!!!!!!!

[2017-09-21 19:44] zachgibson commented on #7
@isilher or anyone else have an example of how to fix this issue? I tried all of the above to remedy the giant spacing in between p tags to no avail. Using react-native-htmlview@0.12.0 with [Expo](https://expo.io/).

[2017-09-22 10:47] #153 closed

[2017-09-24 00:09] richchurcher commented on #152
This was already addressed in #140... you might need to update your version.

[2017-09-24 00:09] #152 closed

[2017-09-24 00:14] richchurcher commented on #151
Yeah, it's tricky... this definitely isn't a complete re-implementation of CSS (for good reason). One thing that might help you a little is to ensure your image is inside a wrapping `<div>`:
[code]

[2017-09-24 00:26] richchurcher commented on #151
Yeah, it's not ideal. This is far from a complete re-implementation of CSS (the component deliberately tries to keep things fairly simple). One thing you can try is to wrap your content in a `<div>`:
[code]

[2017-09-24 00:33] richchurcher commented on #150
@JaekwanJeon It works, you just have to add a width and height:
[code]

@ciriac I don't think that problem is related, since inserting an image nests an `<Image />` not a `<View>`.

[2017-09-24 00:33] #150 closed

[2017-09-24 00:37] richchurcher commented on #149
It's possible, but it's not very elegant! For example,
[code]
produces something like:
[code]
with a double bullet.

[2017-09-24 00:37] #141 closed

[2017-09-24 00:48] richchurcher commented on #142
@Jayiitb no, but it's definitely something I'm looking at. I feel like there ought to be a way for us to set `marginTop` sensibly, so I'm investigating that.

[2017-09-24 01:16] richchurcher commented on #142
Note that doing something like this comes pretty close:
[code]

[2017-09-24 01:21] richchurcher commented on #7
Just dropping a note here to clarify something I hadn't realised... by killing the default newline-inserting behaviour using `addLineBreaks`, you can actually get pretty decent paragraph spacing:
[code]
Not perfect, but a handy workaround.

[2017-09-25 13:41] wulala opened #156 "can't reload all images on IOS"
"react-native-htmlview": "^0.12.0",
react: "16.0.0-alpha.12",
"react-native": "0.47.1",
platform:  ios 10.3.1

It can resize the all Image's width/height attribute， but can't reload all images.

![reload](https://user-images.githubusercontent.com/2832873/30811134-eb027e06-a239-11e7-803c-1ad9e2ded30d.png)

5 images only overloaded 2

[2017-09-26 02:32] byk04712 commented on #156
Do you configuration this ?

<img width="680" alt="wx20170926-103054 2x" src="https://user-images.githubusercontent.com/6211302/30839657-e3f791f2-a2a5-11e7-9546-ab2b93575e2a.png">

[2017-09-27 15:54] beeremy opened #157 "Margins/Paddings not respected for blockquote and other tags"
Hi,

We're trying to style blockquotes and others tags like li and ul, but the paddings and margins are not being applied.

Example:
[code]

When rendering, the text for blockquote gets blue but the margin is not respected.

Any suggestion?

Thanks in advance

[2017-09-29 20:28] clydeshaffer commented on #111
So how do I track down instances of this happening? For instance, if I'm trying to take an existing iOS RN app and make it cross-platform?

[2017-09-30 23:22] richchurcher commented on #157
Really tricky to know without knowing what's in your `renderNode`. Here's a self-contained example with styling of a blockquote; try modifying it and provide other details if you're still stuck.
[code]
![screenshot_20171001-122009](https://user-images.githubusercontent.com/171905/31050310-348c4bde-a6a3-11e7-9ee0-c60e44ae0d79.png)

[2017-10-01 23:01] donedgardo opened #158 "Render rawhtml of nodes children"
I'm trying to render certain elements (`<div class="medium-insert-embed">...</div>`) children as rawHtml in a `WebView`:

[code]
How can i get the `raw` html of an node's children?
Is this possible?

[2017-10-02 02:07] donedgardo commented on #158
Found this -> `dom-serializer` to serialize sibilings

[2017-10-02 02:07] #158 closed

[2017-10-02 16:58] ibogdan94 opened #159 "Too large space between html elements"
First of all, thank you for package :)

My react components, which was parsed by this package have a very big space and I don't know how I can fixed it

My code looks like:

        let result = [];

        htmlDataArray.forEach(value=> {
          result.push(<HTMLView stylesheet={htmlTCStyles} value={value.textApi}/>);
        });

        return (
          <View>
            {result.map(eleme

[2017-10-02 21:18] jeiemgi commented on #159
I have the same issue, someone knows?

[2017-10-03 08:21] ibogdan94 commented on #159
@jeiemgi usual html. Nothing special

`<p><strong>We provide hands-on</strong> legal guidance on Internet and technology issues such as: online business disputes; general cyberlaw consulting; trademarks and trademark/service mark disputes; cybersquatting and typosquatting; domain name disputes; copyrights and copyright disputes; the Digital Millennium Copyright Act (DMCA); Internet torts and priva

[2017-10-04 12:26] #159 closed

[2017-10-06 17:16] kesepara opened #160 "Is there a way to render base64 image in lightbox out of HtmlView ?"
Hey,

I was trying to render image which surrounded by a tag out of htmlview. Here is the data that comes from the api:

`<a href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAABLCAQAAACSR7JhAAADtUlEQVR4Ac3YA2Bj6QLH0XPT1Fzbtm29tW3btm3bfLZtv7e2ObZnms7d8Uw098tuetPzrxv8wiISrtVudrG2JXQZ4VOv+qUfmqCGGl1mqLhoA52oZlb0mrjsnhKpgeUNEs91Z0pd1kvihA3ULGVHiQO2narKSHKkEMulm9VgUyE60s1aWoMQUbpZOWE+kaqs4eLEjdI

[2017-10-06 20:14] PatrikTes opened #161 "style: View.propTypes.style"
Hello, even that on git is the version with style: ViewPropTypes.style, when I get the version over npm I receive the old one.

What I'm doing wrong? Version 0.12.0
P.S. I'm using React 16

[2017-10-08 00:51] optimatex commented on #159
Hi @ibogdan94
How did u solve this?

[2017-10-08 00:54] optimatex commented on #142
@richchurcher That works very well in my case. Thanks!

[2017-10-08 18:52] bahadircivelek opened #162 "Image onPress event"
Hi,
How can access image onPress event ? i want to show image a new modal when user press it ?
Thank you.

[2017-10-08 22:48] DomiR commented on #161
It is already fixed in 9e3dfec70b536061c23279d464c506fc973a7cb0, but not published on npm. Pretty please 🐹

[2017-10-09 02:21] Ctonys opened #163 "<div> contains <img>,Can't display images"
"react-native": "0.48.3"
android:7.0

here is my code:
`
render() {
    const htmlContent = `
        <div>
            <img src="http://d.lanrentuku.com/down/png/1504/bianping-yuanicon/bianping-yuanicon-09.png" />
        </div>
    `;
    return (
        <View>
            <HTMLView
                value={htmlContent}
            />
        </View>
    );
}
`

[2017-10-09 15:35] fxhereng commented on #7
What worked for me was to delete break lines from html text:

[code]

[2017-10-09 15:37] kesepara commented on #163
You need to add another function named renderNode():

[code]

and then change HTMLView tag like this:

`<HTMLView
                value={htmlContent} renderNode={this.renderNode}
            />`

That's all. Your renderNode() function and render() function should be siblings at that example. @Ctonys

[2017-10-09 20:41] richchurcher commented on #162
I think you're straying into custom `renderNode` territory there... I can't think of a way to do it using the default behaviour.

[2017-10-10 20:54] richchurcher commented on #152
Sorry, yeah it hasn't made it across yet. I can't publish to npm, was going to wait until we had a bit more but maybe @jsdf can patch release if it's causing issues.

[2017-10-10 21:03] lukebaker commented on #152
We were seeing immediate crashes of our release build of our app after upgrading to React Native 0.49 and using react-native-htmlview 0.12.0.

[2017-10-10 21:08] richchurcher commented on #152
If you need an interim solution use the commit hash in your `package.json`... otherwise it'll be whenever the project owner has a free moment :smile:

[2017-10-10 21:09] lukebaker commented on #152
Yep, that's what we ended up going with for now. Thanks!

[2017-10-11 05:09] kagmanoj25 opened #165 "iframe youtube video doesn't work in android device at all."
iframe youtube video doesn't work in android device, an iOS device the view will appear but an initial image of a video doesn't show, also iframe image too doesn't show properly in android device.
I really appreciate for your valuable reply.

[2017-10-11 06:58] ciriac commented on #162
I've been trying to achieve this also. While this works on iOS, I'm running into nesting issues on Android. Is there anyway I can add a touch listener on Android without running into this error?

    _renderNode(node, index, parent, type) {
        if (node.name === 'img') {
            const style = {
                height: $.imgContainerHeight,
                width: $.containerWidth - 30,

[2017-10-13 06:20] #161 closed

[2017-10-17 09:16] chenar-x opened #167 "How can i make htmlview show one line?"
<img width="371" alt="2017-10-17 5 13 49" src="https://user-images.githubusercontent.com/5440947/31656665-ec928810-b2f1-11e7-9912-eb19cabfb8a4.png">

[2017-10-24 03:00] shanghongshen001 commented on #111
+1

[2017-10-26 02:41] Ctonys opened #168 "How to take out the contents of the tag?"
<b>hello world</b>   --> hello world

[2017-10-26 10:16] nguyenhoanglam opened #169 "How to set text color or parse html color?"
I've this HTML
[code]

HtmlView does not show text in RED. Is there a way to set HTML text color?

[2017-10-26 10:25] richchurcher commented on #169
`<font>` is obsolete in HTML5 (https://developer.mozilla.org/en-US/docs/Web/HTML/Element/font). Regardless, react-native-htmlview doesn't read the `color` attribute from tags, so I'm afraid you will need to style using the stylesheet prop (see the docs).

[2017-10-26 10:25] #169 closed

[2017-10-27 20:03] rneiss commented on #153
Use `nodeComponentProps={{selectable: true}}`

[2017-10-29 21:59] TornHub opened #170 "Invariant Violation: Nesting of <View> within <Text> is not supported on Android"
Hi, I'm trying to use the Text tag inside the View tag but getting the error below. How can I fix this?

![ekran alintisi](https://user-images.githubusercontent.com/25257157/32148875-8e19389e-bd0d-11e7-9d03-e0c8dc371860.PNG)

[2017-10-30 07:09] shanghongshen001 opened #171 "Image.getSize setState can not work"
<div> img </div>

[code]

[2017-10-30 23:26] renrizzolo commented on #168
`node.data`
you can use a custom renderNode function like this:
[code]

[code]

[2017-11-01 00:24] sunweiyang opened #172 "Lists (<ol> and <ul>) aren't aligning/indenting properly"
Currently, react-native-htmlview treats bullets and numbers in ordered and unordered lists as simply additions to the beginning of list item strings (enclosed in <li></li> tags). This results in improper alignment of multiline word-wrapped list items.

This is a request for properly left-aligned lists in this repo. In the meantime, are there any existing forks that have addressed this list alignme

[2017-11-03 10:34] thiname opened #174 "Custom fontFamily not supported on Android ?"
We try to set a custom fontFamily for a react-native-htmlview. It works well with iOS and in Android it also work with the basic <text> component but not in an HTMLview.

We set it this way :
const contentStyles = StyleSheet.create({
  h1: {
    fontSize: 40,
    fontFamily: 'BodoniSvtyTwoITCTT-Bold',
    color: '#79AB2B',
    fontWeight: '700'
  },
  p: { fontSize: 18 }
})
How can we solve this p

[2017-11-03 11:00] thiname commented on #174
The problem was related to the fontWeight. The fontWeight 700 was not available in this font and so Android load another font.

[2017-11-03 11:00] #174 closed

[2017-11-04 21:35] richchurcher commented on #174
Yep, Android will fall back to a default anytime it doesn't find the correct weight. Been bitten by that a few times :smile:

[2017-11-05 04:02] dbof10 opened #176 "Android display issue with hyper link"
Given a html text ```
I shared some of my (perhaps terrible) <a href=\"https://twitter.com/rrhoover/status/924678180073455617\">ideas on Twitter</a> earlier today```.

Result
![screen shot 2017-11-05 at 11 00 11 am](https://user-images.githubusercontent.com/10725747/32411854-921cbab4-c218-11e7-99e7-04f5f62c96c2.png)

The hyper link takes up one line.

Expected result
The hyper link is inline with

[2017-11-09 08:39] jaschaio commented on #114
@isilher I used your solution adding `RootComponent={Text}`, but I don't understand how to style the Text Component?

[2017-11-13 10:55] BenBenz commented on #158
How did you use it ?

[2017-11-13 18:18] bispul commented on #159
I think it needs to be reopened because i don't think anyone have mentioned how to solve this issue. This is misleading.
Really, how did you solve this issue?

[2017-11-13 22:01] jeiemgi commented on #159
@bispul Hi, in my personal case, I had to be aware of blank spaces, and line breaks because the library takes that as a real blank space left on purpose.

[2017-11-15 04:39] kagmanoj25 opened #177 "Many issue found with Android support in react-native-html"
There are many issues found with Android support. Still, I'm not getting any reply to my question [#165](https://github.com/jsdf/react-native-htmlview/issues/165). In Android iframe has not been supported at all so I can't play youtube video even not able to displaying image too. I really appreciate if I will get any positive reply whether it is possible or not.

[2017-11-15 06:14] kagmanoj25 commented on #172
@sunweiyang I'm also facing alignment issue. If anybody gives us solution then it's really appreciatable.

[2017-11-15 06:19] kagmanoj25 commented on #163
@kesepara I agree with your solution but it's not working on the android device. Have you any solution for the android device? I will really appreciate if I got any solution.

[2017-11-15 08:23] isilher commented on #165
Hello @kagmanoj25. This library is meant to support basic translation of html elements, not to offer a full browser-experience. iframe components are not supported by default, but there is an example of how to implement them yourself [in the README](https://github.com/jsdf/react-native-htmlview#custom-element-rendering). If you follow that approach, the possibilities will only be limited by the [W

[2017-11-15 08:26] isilher commented on #177
@kagmanoj25 I understand not getting an answer can be frustrating, but demanding attention by creating multiple issues is not very nice or helpful. I took the time to answer your original question this time, but expect people will be more likely to ignore you if you behave like that.

[2017-11-15 09:06] kagmanoj25 commented on #177
@isilher Thank you @isilher for attention to my question. you are right, I'm frustrated a little bit. From now I will not repeat this mistake.

[2017-11-15 09:26] kagmanoj25 commented on #165
@isilher Yes iframe components are not supported by default. I also followed the example from [REAMDME](https://github.com/jsdf/react-native-htmlview#custom-element-rendering). But it only works with the iOS which is really good, whenever I tried with the Android device the renderNode function doesn't call and I don't know why? I hope you will understand my problem.

[2017-11-15 12:44] isilher commented on #165
@kagmanoj25 I've just tested on a Moto G (Android 6.0.1) and the iframe shows as expected. Note that you do have to make sure the wrapping `<div>` elements in the example are rendered as elements other than `<Text>` (Android will crash when you attempt to display non-Text children within Text components)

If that does not solve your problem, please add an example of your implementation.

[2017-11-16 05:20] Rockvole commented on #172
I have the same problem, trying to get the correct alignment.
I tried to work around by putting each line inside a <p> tag and using &bull; to show the bullet, but the <p> tag has a big gap between each paragraph so it didn't look right.

[2017-11-16 08:51] isilher commented on #172
You could add custom `<li>` rendering with the `renderNode()` parameter. Something along the lines of:

[code]

[2017-11-16 19:38] sunweiyang commented on #172
@isilher Thank you for the suggestion. However it seems like there may be cases where nesting of non-Text views within Text components can happen, which is not allowed in Android RN. Can you confirm that your suggestion avoids this?

[2017-11-17 10:29] isilher commented on #172
@sunweiyang my suggestion does not avoid this and would cause an exception on Android devices.

[2017-11-20 07:14] MAYDAY1993 opened #178 "error: undefined is not an object"
Hi,
I came up with this problem , for detail:
![htmlview](https://user-images.githubusercontent.com/14831051/33006443-5b584428-ce05-11e7-9c9f-06de6e7443f4.jpg)
<img width="368" alt="1" src="https://user-images.githubusercontent.com/14831051/33006444-5b909a8a-ce05-11e7-99fc-f1dd3f3474c6.png">

I don't know why, pls help

[2017-11-22 07:30] gaozhaopei opened #179 "How does the table tr td tag change and how do you set their width and height on the front end if the image returned in the background"

[2017-11-22 07:30] gaozhaopei commented on #179
后台返回的图片高度和宽度如何设置

[2017-11-23 15:46] nikasvan commented on #159
any fix for this? I tried `addLineBreaks={false}` but there are still some spaces left

[2017-11-23 17:15] machour commented on #170
Hi @TornHub, you may want to give a sample HTML code that reproduce your problem in order to get some help :)

[2017-11-23 20:03] patlux opened #180 "onReady prop? Detect when the rendering was finished"
Hi,

is there a way to detect when the rendering process was finished?
I have a small list of HTMLView's. So I want to render the first item as first, then the next and so on...

Best regards,
Patrick Wozniak

[2017-11-29 15:51] benjamin3991 opened #181 "onLinkPress not working - Link with Extra Content."
Whenever there is html content clubbed as different tags with URL, onLinkPress does not work, it shows default behavior using Linking.openURL(url).

Is it supposed to be like this?

[2017-11-29 19:10] zachdixon opened #182 "Adding styles to tags without overriding default styles"
Using the `stylesheet` prop, if I pass in custom styles for a tag, it overrides the default styles. For instance:

[code]

This works fine but removes the fontSize that I'd like to keep. Same for `strong`, `em`, `u`, etc. Am I doing something wrong or is there a better way of doing this? My ultimate goal is to just change the text color of all elements and it would be kind of annoying to have to r

[2017-11-29 20:56] zachdixon commented on #182
I figured out how to give all text a color via `textComponentProps` so that's working now at least. It would still be nice if the default styles extended any custom styles given though rather than being overridden. Or is that the desired behavior?

[2017-11-29 21:10] zachdixon opened #183 "Re-rendering when textComponentProps change"
I'm using `textComponentProps` to change the text color based on a light/dark theme in my app like this:

[code]

But when my theme changes, htmlview isn't updating with the new styles

[2017-11-30 09:01] hungphamtan commented on #149
Hi @richchurcher have you find other solution to come over this issue?

[2017-12-01 02:30] omegatiger commented on #170
Hi Machour,

This example https://github.com/jsdf/react-native-htmlview/blob/master/example/Example.js **in Android**.

[2017-12-01 03:07] omegatiger commented on #111
Change NodeComponent to View ... work in Android.

[code]

[2017-12-01 03:08] omegatiger commented on #170
https://github.com/jsdf/react-native-htmlview/issues/111

[2017-12-01 08:20] inv2004 commented on #183
Just wanted to create the same issue, but found this one. +1

[2017-12-01 08:24] inv2004 commented on #183
quick-fix:

HTMLView.js: 54:
[code]

[2017-12-01 09:01] YinHAHA commented on #163
我想显示图片为屏幕宽度，Dimensions.get('window').width 用这个得到的屏幕宽度   但是显示出来的却很小
![image](https://user-images.githubusercontent.com/21334507/33475368-258a9636-d6b9-11e7-9c80-0a4eee64f680.png)

[2017-12-01 11:58] houbx opened #184 "Why sometimes the pictures are blurred"
Why sometimes the pictures are blurred

[2017-12-02 08:20] inv2004 commented on #183
fix:

HTMLView.js

[code]
[code]

in startHtmlRender(...)
[code]

[2017-12-02 14:09] PavelPZ opened #185 "Why not using React parser instead of htmlparser2-without-node-native?"
In some of my project I am using this code to parse HTML fragment in react-native:
[code]

Console then contains this json:

[code]

[2017-12-04 09:44] isilher commented on #184
@houbx that is a very broad question. One thing I have noticed is that when I load any RN images in a small resolution or hidden container to then show them, they will have been rendered in a tiny resolution that is not updated (and thus look blurry). Perhaps that is the issue?

If you think the problem is with this library, please provide more context to your problem.

[2017-12-04 09:48] isilher commented on #172
The error is due to limitations in react native android. See also #111. Until nesting view in text components is supported on Android, block styling within the html-view will not be possible. I personally see no other way to solve this issue.

[2017-12-06 06:39] ZooTopiaGG opened #186 "Failed to get size for image: //..."
require: I want to get articles through the interface, and these articles has more and more images, but these images path are like " [//p3.psyayp.com/larger/401c0002f754e611f0611](url) " , and in Android not visible.
Purpose: So I want to make it visible in android picture, please help me ~ thx

[2017-12-06 07:40] ZooTopiaGG commented on #186
I have already solved it， this link is wrong ,so i add 'http:'

[2017-12-06 07:41] #186 closed

[2017-12-11 05:38] Taimoormk opened #187 "Inline images are not subject of styling in the app on Android"
![screenshot_1512191544](https://user-images.githubusercontent.com/27800340/33816352-09f13f76-de5a-11e7-83e2-4a6e1693e600.png)
![simulator screen shot - iphone 6 - 2017-12-02 at 10 12 21](https://user-images.githubusercontent.com/27800340/33816415-870b1176-de5a-11e7-82fb-873388ca2b6a.png)

Attached are screenshots of iOS and Android platform using RN script. As you can see, the inline images are r

[2017-12-13 04:51] kagmanoj25 commented on #165
@isilher thanks for your feedback and sorry to say that this library is meant to support the basic translation of HTML elements, which is perfectly working with iOS but not with Android. I found the alternate way to solve this issue.

[2017-12-14 16:07] sospedra commented on #52
@richchurcher bingo!
I suggest to add a trim when sharing the value prop

[code]

[2017-12-15 09:09] atillasertkaya commented on #165
@kagmanoj25 How did you solve the issue? I faced the same issue in my project

[2017-12-20 15:44] Yarkhan commented on #158
@BenBenz
add [dom-serializer](https://github.com/cheeriojs/dom-serializer) as dependency, then ...

[code]

Thanks @donedgardo for the tip.

[2017-12-20 15:45] BenBenz commented on #158
@Yarkhan  Thanks for your reply I'll try this

[2017-12-21 04:37] tanviag opened #189 "If the text length is larger than 14500 then the <HTMLView> is not rendering the html text"

[2017-12-21 12:50] isilher commented on #189
This is most likely because of the way large Text components render on iOS. You can solve it by adding `{{ flex: 1 }}` to all component styles passed through with the `stylesheet` prop. (see also: https://stackoverflow.com/questions/35992201/react-native-text-component-not-render-anything-if-text-string-is-large)

The only problem I have (with large Text components in general) is that I can't get

[2017-12-21 12:56] tanviag commented on #189
Yes , the Text is in Scrollview and that's why the problem occurs.

[2017-12-21 12:59] isilher commented on #189
Relates to: https://stackoverflow.com/questions/41001693/large-amount-of-text-not-rendering-properly-in-a-scroll-view-react-native

[2018-01-05 09:35] vlader36 commented on #148
Ok, but what we can do in android to take same result?

[2018-01-05 10:07] OahcUil94 commented on #93
[code]

[2018-01-06 23:24] lorenzsell opened #191 "React native warning on AutoSizedImage"
I'm getting the following warning on AutoSizedImage when using react-native-htmlview in a FlatList.  Any idea's how can I address this?

[2018-01-07 19:13] #165 closed

[2018-01-07 19:13] #177 closed

[2018-01-07 19:14] #157 closed

[2018-01-07 19:15] richchurcher commented on #156
Closing due to inactivity, can reopen if problem persists.

[2018-01-07 19:15] #156 closed

[2018-01-07 19:16] #151 closed

[2018-01-07 19:23] richchurcher commented on #191
Hi @lorenzsell . Can you try to put together an example that reproduces the problem? Here's a template you could modify:

[code]

[2018-01-07 19:26] richchurcher commented on #187
Hi. It's really difficult to tell without seeing some code. Can you either post some code from your project, or (even better) create a minimal example that reproduces the problem? You could use this template if it helps:

[code]

[2018-01-07 19:31] richchurcher commented on #185
Interesting. Off the top of my head, I'm not *wild* about the idea because it seems to me we'd be vulnerable to their changing an internal API that isn't exposed for public consumption. Even a small alteration might be enough to break things. I don't know if it's a big enough win to justify that?

[2018-01-07 19:31] #184 closed

[2018-01-07 19:41] richchurcher opened #192 "Add isilher as collaborator"
Hi @jsdf ! If he has the inclination, I'd like to explore adding @isilher as a collaborator to the project. He has been extremely helpful in issues and contributions, and I usually find more collaborators helps things run smoother :smile:

[2018-01-07 19:51] richchurcher commented on #182
Hrm. I don't think it's *desired* so much as *the way it works right now* :smile: if you can think of a good way to implement this, PRs are definitely welcome!

[2018-01-07 19:53] richchurcher commented on #181
I think I need a bit more context, as I'm not really sure what you mean. Can you provide an example that demonstrates the behaviour? You could modify this template if it helps:

[code]

[2018-01-07 19:56] richchurcher commented on #180
Not to my knowledge, no.

[2018-01-07 19:56] #180 closed

[2018-01-07 19:58] richchurcher commented on #179
Hi @gaozhaopei . I'm closing this one due to inactivity and, well, not really understanding the question :smile: If you're still having trouble, feel free to post but please provide a bit more detail and some code.

[2018-01-07 19:58] #179 closed

[2018-01-07 19:59] #170 closed

[2018-01-07 22:37] jsdf commented on #192
Sounds good to me, @isilher are you interested in being added as a collaborator?

[2018-01-07 22:53] richchurcher commented on #149
Nope, not so far! Haven't spent any time on it though. PRs definitely welcome :smile:

[2018-01-07 23:03] richchurcher commented on #159
@bispul @nikasvan please refer to https://github.com/jsdf/react-native-htmlview/issues/142#issuecomment-331679944 and open another issue with a specific problem if this doesn't help :smile:

[2018-01-08 02:37] jiasongs opened #193 "Views nested within a <Text> must have a width and height"
What is the problem

[2018-01-08 08:26] isilher commented on #192
Hi @richchurcher, @jsdf! Thanks for the invitation. Before I jump in (I'm happy to help), what would be expected of me?

[2018-01-08 13:33] StijnCoolen opened #194 "<ul> and <ol> nested in <p> do not behave as block elements"
When using `<ul>` and `<ol>` inside `<p>` tags do not start on a new line. The `<li>` items however, does.
<img width="353" alt="schermafbeelding 2018-01-08 om 14 32 39" src="https://user-images.githubusercontent.com/32257515/34672957-d26e6974-f480-11e7-836c-81eb39657552.png">

[2018-01-08 22:55] richchurcher commented on #192
Well doing what you're doing now, except maybe reviewing/accepting/declining PRs as well? Just making sure CI builds are passing etc. Every now and again when I've collected enough changes I ask James to publish to npm and I make sure the docs & changelog reflect the changes. That's about it :smile:

[2018-01-09 00:46] #183 closed

[2018-01-09 05:14] dancherb commented on #114
Update: best way seems to be to pas in a custom component with RootComponent={MyText} that has the styling applied by default.

[2018-01-09 11:02] isilher commented on #192
Yeah, I'd be happy to. :)

[2018-01-09 16:57] jsdf commented on #192
Done! Welcome @isilher, and thanks for helping out!

[2018-01-09 16:59] isilher commented on #192
Thanks! 🎉

[2018-01-09 16:59] #192 closed

[2018-01-11 05:47] gaozhaopei commented on #179
有办法将sup sub 这种标签进行转化吗

[2018-01-11 05:47] gaozhaopei commented on #179
@richchurcher

[2018-01-11 10:05] isilher commented on #179
@gaozhaopei we don't understand your question, could you attach an example of the HTML you're trying to display and describe the expected outcome?

[2018-01-12 09:07] brechtwaeghe commented on #159
@richchurcher @nikasvan I had the same problem with data coming from a rich text editor. I solved it by removing the hidden \r line breaks.

[2018-01-15 11:03] barbogast opened #195 "Call onLinkPress callback with the current node as the second argument"
I would like to access the `title` attribute of the `a` tag of the link that was clicked from within the onLinkPress callback. This way I could use the title for the view that's going to be opened.

To achieve this the current `node` could be given as second argument for the onLinkPress callback.

For example

htmlToElement.js:
[code]

I could create a PR if you are intrested.

[2018-01-15 14:05] peterchibunna commented on #163
I can confirm this. Here's my code
[code]

[code]

[2018-01-16 19:20] dhcmega commented on #163
@peterchibunna what is drawImageScaled? without it the code wont work obviously.
thanks!

[2018-01-16 20:49] peterchibunna commented on #163
[code]

With or without the function, the result is the same. However the function above, I use it to scale the image based on the device width. It returns a new calculated width and height with aspect ration maintained.

[2018-01-16 20:51] dhcmega commented on #163
thanks!

[2018-01-17 08:10] gaozhaopei commented on #148
how does it in android

[2018-01-19 07:10] gaozhaopei opened #196 "alignItems is not work do you know"
@richchurcher

[2018-01-20 12:35] Kush5900 commented on #163
@peterchibunna @dhcmega  its not working on my side. am getting this error

[code]

[2018-01-21 12:34] Kush5900 opened #197 "inline images must not have percentage based width"
i can not get my images to render by keeping their aspect ration, these are my codes, this is a function to calculate and returns width or height

[code]
this is a custom image renderer where i called drawImageScaled function to return width or height

[code]
and this how i render html

[code]
but i keep getting this error ` inline images must not have percentage based width` in my api all images

[2018-01-21 16:03] duyhung16 opened #198 "If change fontSize of root (body) tag, the <HTMLView> is not rendering the html text"
In my case, when change fontSize of the body tag from 20 -> 21 ( or any value > 20 ), <HTMLView> is not rendered.

${htmlContent} length: 26848

[code]

[code]

[2018-01-22 09:25] isilher commented on #198
@duyhungp does the same happen with a shorter html content? This might be related to: https://stackoverflow.com/questions/41001693/large-amount-of-text-not-rendering-properly-in-a-scroll-view-react-native

(See also #189)

[2018-01-24 07:42] mengerzhuanyong opened #199 "The picture is too small on Android"
`"react": "16.0.0",
 "react-native": "0.50.4",
 "react-native-htmlview": "^0.12.1",`

`import React from 'react';
import {
	View,
	Text,
  Image,
	WebView,
	StyleSheet,
	ScrollView,
	Dimensions
} from 'react-native';
import HTMLView from 'react-native-htmlview'
var window = {
    height: deviceHeight,
    width: deviceWidth
} = Dimensions.get('window');

const ratio = ( window.width - 30 ) / 800;

[2018-01-25 03:19] dhcmega opened #200 "new lines within <p>"
Hi all
Why do I get small indentation after newline on Android? It's no happening in iOS.

Sample code:
[code]
The 2nd and 3rd line have a small indentation.

[2018-01-26 06:22] JosephPoplar opened #201 "StyleSheet attibute lineHeight cause display wrong"
This is my code

[code]
When I add "lineHeight" attribute , all text will not displayed
![simulator screen shot - iphone x - 2018-01-26 at 14 22 24](https://user-images.githubusercontent.com/13551410/35427431-5a51083e-02a4-11e8-8e69-7b35bb277341.png)

[2018-01-26 15:01] duyhungp commented on #198
@isilher a shorter html content does not happen.
May be need separate large <Text> component into several smaller <Text> components. i'll try

[2018-01-29 01:48] JosephPoplar commented on #201
It seems a Text problem in react-native 52.0.https://github.com/facebook/react-native/issues/17750

[2018-01-29 18:03] LouisJS opened #202 "Space between two HTML tags"
I've noticed that if you put a space between two HTML tags such as a space, it is interpreted as a content and insert a new line.

**For Example:**
(_Focus on the breaking lines, not styling_)

[code]

It will render something like :
<img width="122" alt="screen shot 2018-01-29 at 18 53 06" src="https://user-images.githubusercontent.com/6095371/35525874-18fd83d8-0526-11e8-9a87-0fd16ea3ed3f.png">

[2018-01-30 06:00] monster1935 commented on #199
Hi, have you resolved this problem? I encounter this too.

[2018-01-31 14:13] Kush5900 opened #203 "renderNode return image not working"
i have a lot of images in my api that has `<img style="height:.. ; width=.." />` others has nothing due to my rich text editor when i render html without calling renderNode my images are not displayed and but whaen i use renderNode like this its works but with static height and width  codes below

[code]

renderNode function to return image with calculated width and height but not working because

[2018-01-31 22:01] mchauta opened #204 "Can't get styles on children of View elements"
If I override the rendering of an element, I'd like to be able to have a style for text elements that is specific to the text inside that element.  For instance, If i  override a 'td' element below to be a View and I want to be able to have the table text look different than other text on the page. Anyone have any ideas?
[code]

[2018-02-01 07:18] monster1935 commented on #199
@mengerzhuanyong hi, I have found the solutions.

[2018-02-02 19:43] igorlaunch opened #205 "li margin/padding not works"
I am having \<li\> tags inside \<ol\> and want to give some margin between the \<li\> tags.
I tried
[code]
But this not works
Anybody knows how to solve this?

[2018-02-06 15:21] tfsjohan opened #206 "TypeScript definitions?"
I can't find TypeScript definitions for this project. Does it have any?

[2018-02-06 20:30] tinchoz49 commented on #176
Hi everyone! what is the status of this issue? I'm having the same problem

[2018-02-07 02:05] dbof10 commented on #176
No update

[2018-02-07 08:16] isilher commented on #176
Did you try wrapping the surrounding text in a `<div>` or `<p>` tag?

[2018-02-08 20:50] dann1609 commented on #184
I have the same issue

![img_0520](https://user-images.githubusercontent.com/7472461/35997522-bd3e0a76-0ce7-11e8-8191-71ccb6ae88d0.PNG)

[2018-02-09 23:07] rossettistone opened #207 "Version 0.12.1 drops compatibility with older versions of React Native"
The move from `View.propTypes` to ViewPropTypes in 0.12.1 is a breaking change for those using older RN versions. From the release notes, it looks like this happened in version 0.44.3 of RN: https://github.com/facebook/react-native/releases?after=v0.46.2

It would be very helpful to note the versions of RN that this library currently supports and/or note that 0.12.1 contains a breaking change for

[2018-02-11 02:54] samdoj commented on #149
So you would rather a nested <ul> just indent with one bullet like an <li> child and have its children indent in a similar manner?

[2018-02-12 04:41] lukakerr opened #208 "Change default style of view"
Is there a way to change the default style of the view? If no element is included in the HTML (i.e. just plain text), there doesn't seem to be a way to add styling. What would be ideal would be if there was a way to style the `body` of the view as if it's normal HTML, and these styles would apply globally to the view, but would be overridden by more specific selectors

[2018-02-12 15:14] isilher commented on #208
Hi @lukakerr, plain text will not receive any of the default or custom HTML styling because it's not wrapped in any HTML tag. If you wrap your text in a `<div>` or `<p>` tag before passing it to the library it should get all default styling supplied.

If this does not solve your problem, please supply an example code snippet and the expected result.

[2018-02-12 23:16] lukakerr commented on #208
Ah yep doing `<body>{htmlContent}</body>` seems to work, thanks

[2018-02-12 23:16] #208 closed

[2018-02-13 14:53] isilher commented on #205
Hi @igorlaunch, margins and paddings require block styling (versus the inline styling required to make the nested html markup work). Sadly at this moment it is not possible to combine both because of limitations in React Native for android (See also #111).

For iOS only suggestions to apply styling to list elements, see comments in #172.

[2018-02-13 14:53] #205 closed

[2018-02-15 22:02] christianversloot opened #209 "TouchableHighlight in renderNode throws YogaNode error"
I use the custom `renderNode` to render a clickable image, as follows:

[code]
When my HTML contains only one `img` tag, this works flawlessly. However once there is more than one `img` tag in my HTML, I get the following error:

[code]

When removing the `TouchableHighlight` components, the error no longer appears. This also occurs when I use `TouchableWithoutFeedback` components.

If you have ti

[2018-02-17 06:24] dbof10 commented on #176
Is there a better way to address this since html comes from server?. I don't have control

[2018-02-17 07:11] rajasaur commented on #176
@dbof10 : I havent tried this but when debugging my problem , I found that without a `<div>` or `<p>` (or any top-level element), it broke a text like
`This is a test <a href='....'>....</a>some more`
into three nodes ("This is a test", contents of a tag and "some more"). This probably explains why each part of it is shown separately with a line break between them.

Maybe you could implement the r

[2018-02-17 07:48] dbof10 commented on #176
I agree with custom renderer. However, `<a>` is for hyperlink. It should be inline. The library should support this behavior by default.

[2018-02-19 10:15] isilher commented on #176
Currently, the library expects valid HTML, meaning it should be wrapped in a single top level tag. Not doing so will break lines for all first level tags (not just `<a>`) as the RootComponent default is a View (not inline styled).
If you have no control over the source, you could wrap `value` before passing it to the HTMLView component:

[code]

[2018-02-19 10:15] #176 closed

[2018-02-19 14:44] dbof10 commented on #176
That's valid. Thanks

[2018-02-19 23:07] christianversloot commented on #209
Hope to hear from you @jsdf!

Some additional info:

[code]

[2018-02-20 09:42] WajeehZantout commented on #163
Hello guys, I managed to fix the above issue by:

[code]

``PixelRatio.get()`` returns the device pixel density.

[2018-02-20 09:45] WajeehZantout commented on #203
Hello, I managed to fix the above issue by:

[code]

``PixelRatio.get()`` returns the device pixel density.

[2018-02-20 09:48] WajeehZantout commented on #199
Hello guys, I managed to fix the above issue by:

[code]

``PixelRatio.get()`` returns the device pixel density.

[2018-02-26 22:28] Reier360 commented on #29
@richchurcher Hi, so this does not yet support table?

[2018-03-06 07:01] wulala commented on #199
`<HTMLView value = { htmlContent.replace(/<(\/)?p>/g , '') } />`

[2018-03-07 10:23] necixy commented on #114
Although RootComponent={Text} worked for me but I could not live with seeing the warning. 😄
Hence I created a custom component named HTMLText and wrapped the HTMLView inside this (because for my project I only needed to show the text most of the time), the value is also wrapped inside the <div>. I also created the 'style' prop so I could pass the style like fontSize from the component I'm going to

[2018-03-12 19:08] dann1609 commented on #172
@isilher how I can get style and text from ul elements? I want do your solution but I can't get style and text value from ul

[2018-03-13 09:58] isilher commented on #172
@dann1609 do you get the invariant violation posted above in this thread? Most likely you're nesting View tags within Text tags on an Android build. Sadly that is not yet supported by react native android. For more information check #111

[2018-03-13 23:38] riseremi commented on #193
+1

[2018-03-14 02:25] ducpt2 commented on #184
+1

[2018-03-14 18:55] ethanyuwang opened #211 "Undefined is not an object (evaluating 'parent.name')"
Sometimes I would get this error thrown. What could cause it and how should I fix it?

[2018-03-15 08:35] isilher commented on #211
@ethanyuwang can you give an example of your implementation and source HTML?

[2018-03-16 09:29] judemanutd opened #212 "Get parsed html"
Is there a way to get the html that is parsed by the library ?

[2018-03-16 09:38] isilher commented on #212
@judemanutd can you give an example of what you mean with "the html that is parsed"? The library takes an HTML string that you provide, and returns a React Native nested component structure.

[2018-03-16 09:50] judemanutd commented on #212
Assuming I have html content like so " Random &amp Text" which when parsed displays as "Random & Text" which is displayed perfectly by the component. Is there a way that I can get this parsed text "Random & Text" for processing later on.

[2018-03-16 10:03] isilher commented on #212
@judemanutd I think the library you're looking for is https://github.com/fb55/entities.

[2018-03-16 10:03] #212 closed

[2018-03-16 10:46] judemanutd commented on #212
That actually worked, thank you.

[2018-03-29 21:49] mmmattmorris commented on #193
This was happening for me because I was wrapping my html in <html> container tags

[2018-04-04 04:07] ducpt2 commented on #202
+1 same issue.

[2018-04-04 11:04] miniofskidev commented on #202
same here

[2018-04-04 15:15] ducpt2 commented on #202
@miniofskidev This did the magic for me:
data.replace(/(\r\n|\n|\r)/gm, "")

[2018-04-05 17:44] fortinmike commented on #148
This is quite important for our project and we can't settle for a solution that works on iOS only, nor a fixed size for the superscript as proposed by @jraack. Any hints on a workaround?

[2018-04-06 09:03] jaychenjun commented on #201
I am having the same issue in the latest version, do you have a solution yet?

[2018-04-07 00:06] fortinmike commented on #148
Too bad. Surprising that Android supports still lags behind like this in React Native. Thanks for the quick answer!

For anyone struggling with this, we ended up using [react-native-autoheight-webview](https://github.com/iou90/react-native-autoheight-webview) which does the job for what we need. Might work for you, too.

[2018-04-07 09:27] isilher commented on #202
Hi there! I think the main issue with your HTML examples is that the parts in between tags are not contained in any parent tag. This library expects valid HTML, which means everything should be wrapped in a single top level tag. Could you check if the expected result is achieved by wrapping your data string in for example a `<div></div>`?

[2018-04-12 06:11] koesbong commented on #172
@isilher I am also having the same issue as @dann1609 where I am getting an `Invariant Violation:  Objects are not valid as a React child` error and this is on iOS.

Here is my code:

[code]

[2018-04-16 11:01] lucaszanella commented on #153
Didn't work for me. Did something change?

[2018-04-16 11:03] lucaszanella commented on #153
`textComponentProps={{selectable: true}}`
did the trick for me

[2018-04-21 08:39] szejing547 opened #213 "Img Tag Rendering"
![screen shot 2018-04-21 at 4 35 04 pm](https://user-images.githubusercontent.com/38581681/39082219-0af98c0e-4582-11e8-9260-b98b60dca7dd.png)
<img width="256" alt="screen shot 2018-04-21 at 4 34 57 pm" src="https://user-images.githubusercontent.com/38581681/39082220-0b285f7a-4582-11e8-8786-7a0c10e65501.png">

I'm having problem with img rendering. How do i render the image on Android Platform same

[2018-04-25 13:01] MayeuldP commented on #29
Pop ? still waiting for <table>.... Any alternative to it ?

[2018-04-25 13:07] isilher commented on #29
@MayeuldP This has not been implemented and is not likely to be supported in the near future. You're welcome to submit a PR with a solution.

[2018-04-25 13:29] MayeuldP commented on #29
@isilher at least could you manage/skipping it well ? Because if I got a `<table>`, the html content crashed, and it doesnt works well, even with using a `renderNode` function and skip `<table>` attribut, still get some troubles :/

[2018-04-26 12:08] showtan001 commented on #203
@Kush5900 getSize need to download pictures to get wide and high, The htmlview is rendered without downloading.

[2018-04-27 02:48] showtan001 commented on #203
@WajeehZantout If the picture is not width and height, how do you fit it? Your method applies only to width and height.

[2018-04-27 06:36] WajeehZantout commented on #203
@showtan001 I am filling the `width` by `width: width * PixelRatio.get()`, you can do the same for the height if you the image to fit all the screen

[2018-04-27 06:43] showtan001 commented on #203
@WajeehZantout But I don't know the image height, Width I know is the screen width, but the height? Not using Image.getSize before rendering.

[2018-04-27 06:45] NinoMartino commented on #69
Hi, I need to open a local html file, not a full web page. Can it be done in htmlview? Thanks..

[2018-04-27 06:47] WajeehZantout commented on #203
@showtan001 I didn't get what you are asking for, if the image has a height, my function will use it, if not I can provide a default height or percentage-based height `const imageHeight = height || 300;`

[2018-04-27 06:49] showtan001 commented on #203
node.attribs no height

[2018-04-27 06:50] WajeehZantout commented on #203
@showtan001 Yeah, if there isn't height provided, I add a height of 300 (in my case).

[2018-04-27 06:52] showtan001 commented on #203
@WajeehZantout Oh No, goods details are not the same height

[2018-04-27 06:58] WajeehZantout commented on #203
@showtan001 Ok, I got it, you have to check a function similar to ` Image.getSize()` or check if this issue was solved recently.

[2018-04-27 06:59] showtan001 commented on #203
@WajeehZantout OK

[2018-04-30 11:29] isilher commented on #69
Hi @NinoMartino, you should be able to implement a means to extract the contents of a local file, then supply the resulting string as an argument to the component.

[2018-05-09 08:13] NySiya commented on #165
Why this issue is closed, while there is no solution :( ?

[2018-05-09 08:19] atillasertkaya commented on #165
@NySiya There is no solution, then I had to change the plugin. The following plugin is working well.

https://github.com/archriss/react-native-render-html

[2018-05-09 15:01] jaychenjun commented on #203
@WajeehZantout Hey, I have the same problem recently, do you know what are other options similar to Image.getSize()? thanks.

[2018-05-09 15:03] WajeehZantout commented on #203
@jaychenjun No, I ended up using my solution.

[2018-05-11 06:17] showtan001 opened #214 "Picture display problem please change here"
Source code(in htmlToElement.js Eighty-eighth lines):

`if (node.name === 'img') {
          return <Img key={index} attribs={node.attribs} />;
        }`

Change to:

`if (node.children && node.children.length > 0 && node.children[0].name === 'img') {
          return <Img key={index} attribs={node.children[0].attribs} />;
        }`

[2018-05-16 16:41] yohanes1989 opened #215 "Plan of next release?"
Hi there, may I know when the next release will be?

[2018-05-17 13:04] donni106 commented on #202
Thanks @isilher, wrapping my content in a `<div></div>` did it for me.

[2018-05-18 05:58] jsdf commented on #209
The html layout is implemented by making all nodes react native Text nodes (by default), I'm guessing you would get the same error if you made a react native view which produced the same combination of Text nodes containing what your custom renderNode produces. Depending on what your html looks like you could configure your HTMLView to render View nodes instead of Text nodes (using the NodeCompone

[2018-05-18 09:48] slimcheng opened #216 "Unexpected view type nested under text node"
<img width="784" alt="qq20180518-173257 2x" src="https://user-images.githubusercontent.com/3722860/40227824-219012b2-5ac2-11e8-8ef9-eff05889d76c.png">

![wechatimg43](https://user-images.githubusercontent.com/3722860/40227673-bd62b510-5ac1-11e8-8f84-9c64a6c04f66.jpeg)

[code]

When removing the `TouchableOpacity` components,or
[code]
the error no longer appears。

[2018-05-22 01:37] nguyenhuyhieu1995 opened #217 "How to remove line within p tag."
<img width="1081" alt="screen shot 2018-05-21 at 23 53 46" src="https://user-images.githubusercontent.com/27413379/40337703-463cd27c-5d9b-11e8-9c74-c6721fd5f749.png">

How to remove line within p tag?

Many thanks.

[2018-05-22 01:51] nguyenhuyhieu1995 commented on #202
@isilher Can you help me. How to remove line within p tag. Many thanks
<img width="1081" alt="screen shot 2018-05-21 at 23 53 46" src="https://user-images.githubusercontent.com/27413379/40338046-347c872e-5d9d-11e8-8e5a-3adf3e557f43.png">

[2018-05-22 09:09] donni106 commented on #202
@nguyenhuyhieu1995 there are probably new lines between you HTML tags, which normal browsers are ignoring but the HMTLView is not.
I think you need a trim method, like @ducpt2 was mentioning, where rendering the HTMLView:

[code]

This is working for me.

[2018-05-26 09:42] xinghuoliaoyuan45 commented on #171
me to

[2018-05-28 05:49] edi9999 commented on #149
I have done this locally to add the possibility of having 2 levels of lists :

[code]

[2018-05-28 09:50] NySiya commented on #165
@atillasertkaya  and @isilher, thank you so much for your response.

[2018-05-29 22:52] Noitidart opened #218 "How to style text not wrapped in any tag"
Sometimes my content is wrapped in a `<p>` other times its not. In the times that its plain text, how to style the body?

I tried using `html` and `body` but it doesnt work.

My code:

[code]

[2018-05-31 11:07] henrikra commented on #206
Sure https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-native-htmlview

[2018-05-31 12:31] donni106 commented on #172
The endless growing was happening because of the `marginTop`.

Another problem which occurred now with my setup: lists are rendered on simulator but not after release build on device :o strange! Without my own renderNode setup, the list is rendered on both.
Any ideas @isilher?

[2018-05-31 13:19] donni106 commented on #218
Maybe you can wrap a <div> around your body and style on div?

`return <HTMLView value={`<div>${body}</div>`} stylesheet={htmlStyles} />`

[code]

[2018-05-31 14:16] donni106 opened #219 "Empty area where defined a custom renderNode"
I have a custom `renderNode` for `<ul>` and `<li>` and it is working fine when running on a simulator.
If I build a release version on a real device, the same `<ul>` and `<li>` were not visible. I tried to figure out the bad lines, but nothing helped.

Somebody ever experienced the same?

Tested on iOS with ReactNative: 0.55.4

[2018-05-31 14:18] donni106 commented on #201
Does it happen on simulator or real device or both? I have experienced something similar and cannot find the reason #219 :(

[2018-05-31 15:57] Noitidart commented on #218
Oh yes true I can add a wrap. Is there no other way?

[2018-05-31 17:53] raphaeleidus commented on #215
@jsdf @isilher @richchurcher
An npm release would be really useful it has been quite a while and there are a few significant changes in master that aren't on npm yet

[2018-06-01 19:59] juancabraal commented on #219
I'm having the same problem here, I have tried to change the lineheight as was suggested but still dont working

[2018-06-04 06:12] zengyimou commented on #216
+1

[2018-06-08 16:41] Leadrive commented on #217
+1

[2018-06-09 02:43] pheromone opened #220 "<Img/> don't show"
please:
<img/>标签不显示
<img/> don't show

For example:
 `<img style="display: block; margin-left: auto; margin-right: auto;" src="http://static-dev.zhinaer.cn/upload/2018/05/20180525160036112.jpeg?imageView2/2/w/100/h/100/q/75|imageslim" />`

[2018-06-09 11:18] Richi2293 opened #221 "Does anyone have a solution on how to manage inline style?"
Hi,

I have to be able to manage a html like this:

[code]

Has anyone found an effective way?
Thanks

[2018-06-14 15:53] jahnavi310 opened #222 "get he text of an a tag"
hi there,

How can i get the text within an <a> tag?
 I need o re-render the node so that href opens a link within an internal browser within the app,, but i cannot see the value of the text within the node.attribs.

[2018-06-15 04:02] minhphung210 commented on #193
same issues

[2018-06-18 23:20] ElangoPrince opened #223 "Remove Particular Tag, while loading JSON File in Render HTMLView"

[2018-06-19 05:05] #223 closed

[2018-06-19 12:30] emilisb commented on #216
+1

[2018-06-21 19:23] levidurfee commented on #220
Maybe try:
[code]

[code]

[2018-06-21 19:25] levidurfee commented on #217
Thanks @donni106 !!

[2018-06-21 19:49] jahnavi310 opened #224 "video html tag"
I am trying to render a video html tag, but it does not render in the native view. Any idea?

[2018-06-22 00:49] pheromone commented on #220
@levidurfee
对不起
我的英语不好.让你误解了.
我的意思是img不显示,而不是img不让它显示.我需要让img显示出来.
Sorry.
My English is not good enough. It makes you misunderstood.
I mean the img doesn't show, It's not that the img doesn't show up, I need the img to show it.
![image](https://user-images.githubusercontent.com/14305431/41752282-22319dec-75f9-11e8-976c-e5c93c1b008f.png)

[2018-06-22 01:04] levidurfee commented on #220
少停

你的英语很好，比我的中文好得多。我不认识任何中国人。

我希望下面的代码有所帮助。我没有测试过，但请让我知道如果它不起作用，我会再试一次。

[code]

[2018-06-22 01:16] levidurfee commented on #220
也许这会有所帮助。

https://snack.expo.io/BkS6pTKWm

[2018-06-22 02:43] pheromone commented on #220
@levidurfee
###  十分感谢,可以使用,你的汉语比我都好.......🤣🤣🤣
### Thank you very much. It works,Your Chinese is better than mine.......🤣🤣🤣
[code]
但是使用Image替换的话,需要添加一个style.而css中style也许不适用于react-natvie.
But with Image replacement, you need to add a style. In CSS, style may not be appropriate for react-natvie.

[2018-06-22 02:43] #220 closed

[2018-06-29 03:11] jamsch commented on #224
You'd need to pass the "renderNode" property to HTMLView so that every time a "video" tag is seen, you can render a custom video player with the
video player using something like `react-native-video-player`.

Example would be like the following:

[code]

[2018-06-29 13:58] Dheeeraj opened #225 "Only half width of an img is being clickable if placed under a tag of html"
if i place an <img/> tag inside <a/> of my html only 50% of img width is being clickable i tried with different widths still no change only half of it is getting clickable

[2018-06-30 09:46] sarathvad1811 commented on #224
@jahnavi310
Does this library cover all cases like does it support almost all(important) HTML elements? I have seen other libraries react-native-render-html, react-native-html-content. which one do you think is the best ? thanks in advance.

[2018-07-05 06:37] syuenkei commented on #216
+1
when I use renderNode to show the img
like this issue https://github.com/jsdf/react-native-htmlview/issues/220
if the html content do not include p Tag ,the error will not show up

[2018-07-06 01:07] banli17 commented on #225
+1

[2018-07-06 01:07] banli17 commented on #225
[code]

[2018-07-06 01:43] banli17 commented on #225
i use react-native-render-html

[2018-07-09 08:06] mviranyi opened #226 "Module parse failed: Unexpected token (108:8)"
During compilation I'm getting this error:
[code]
What can I do?

[2018-07-15 02:59] joaom182 commented on #202
Same issue here, `.replace(/(\r\n|\n|\r)/gm, "")` not work for me :(

![screen shot 2018-07-14 at 23 58 36](https://user-images.githubusercontent.com/3612098/42730088-db0f91fa-87c1-11e8-8ae4-45db3030f6f3.png)

[2018-07-15 03:04] joaom182 commented on #217
@donni106 `.replace(/(\r\n|\n|\r)/gm, '')` not work here, my content is minified, stripped and trimmed.

![screen shot 2018-07-15 at 00 03 54](https://user-images.githubusercontent.com/3612098/42730105-95cb2220-87c2-11e8-9963-3d6226dd7ebd.png)

[2018-07-16 08:43] donni106 commented on #217
@joaom182 can you show how your HTML is looking for that case?

[2018-07-19 17:11] gocampos commented on #216
+1

[2018-07-25 21:36] jsdf opened #229 "Cut a release for v0.13.0"
- [x] master is passing tests
- [x] manual testing
  - [x] create a new react native app which renders [Example.js](https://github.com/jsdf/react-native-htmlview/blob/master/example/Example.js) and test that it works
- [ ] bump version number
- [x] update release notes with merged PRs since 0.12.1

[2018-07-26 06:51] alphasp commented on #229
@jsdf Can you have a look at this PR #228 before new release?

[2018-08-03 03:57] tkserver opened #230 "Style for responsive image."
I have an issue with images.  I want to use a "responsive" view of the images which is essentially like this:
const styles = StyleSheet.create({
  img: {
    maxWidth: '100%',
    height: 'auto'
  }
});

This above does not work.

I can add width and height attributes to the <img> tag, but the problem with that is I don't know the dimensions of the image.   The image might be portrait, landscape,

[2018-08-03 06:59] doteyzm opened #231 "can you show me an example of using numberOfLines"

[2018-08-03 12:11] kledk commented on #197
Did you ever find a solution to this?

[2018-08-03 16:25] #229 closed

[2018-08-03 16:26] jsdf commented on #229
https://github.com/jsdf/react-native-htmlview/releases/tag/v0.13.0

[2018-08-03 16:30] jsdf commented on #215
https://github.com/jsdf/react-native-htmlview/releases/tag/v0.13.0

[2018-08-03 16:30] #215 closed

[2018-08-18 20:00] uypao commented on #162
This solution worked for me:
https://github.com/facebook/react-native/issues/10232#issuecomment-384081378

[2018-09-05 10:12] kirankalyan5 opened #233 "<b> tag styling issue"
I pass contents value which contains 2 tags <p> and <b> and I have the following style

[code]

but then `<b>` spacing styles ex `padding` or `margin` are overridden by the `<p>` styles but the other properties like `color` or `fontSize`  works fine.

from the above code expected behavior.
<P>marginBottom  = 20
<b> paddingBottom = 50

both the tags pick up marginBottom = 20.

Thanks in advance,

[2018-09-05 18:48] kirankalyan5 commented on #233
Solved it, the issue was with my HTML, the <b> tag was nested within <p> tag and thus causing the issue.

solved it with a regex :

[code]

[2018-09-05 18:48] #233 closed

[2018-09-20 18:28] templarstone commented on #216
+1

[2018-10-01 15:05] nicqchen01 commented on #57
if we add img with relative path, could add one base URL ? then we could check if it is from web. if not. use base URL to load images.

[2018-10-02 22:11] luutruong commented on #217
@donni106 I guess this line make it:

https://github.com/jsdf/react-native-htmlview/blob/master/htmlToElement.js#L112

[2018-10-02 22:12] luutruong commented on #217
@nguyenhuyhieu1995 Can you pass this props `paragraphBreak=""`. Does it fixed the issue?

[2018-10-18 08:56] chawax opened #235 "Problem importing html file from assets"
Hi,

I try to use this component on a React Native Typescript project with a HTML file bundled as an asset in my project.

Something like that :

[code]

But `htmlContent` is always equal to `1` !

I think this is linked to how the html file is bundled in the app by React Native but I can't find a solution. I have the same problem with SVG files (while I had no problem on projects just using ES6 a

[2018-10-18 11:06] xstable opened #236 "Last Link on page only work with double-tap"
I have a strange issue.
Links in the Page work well, but the last Link on a Page only work if I tap several times it.
See Gif:
![lastlink_bug](https://user-images.githubusercontent.com/1778068/47150349-9c2f9b00-d2d6-11e8-8430-6676fa1944fd.gif)

[2018-10-22 21:38] maxolasersquad commented on #226
This is almost certainly related to react-native-web-community/react-native-web-linear-gradient#1 but I was not able to use the instructions to resolve it for this project.

[2018-10-24 17:57] waltermvp opened #237 "Larger HTML docs render blank on iOS simulator"
Specifically on the iOS simulator HTMLView renders a blank/white screen when a html value is too large. This is not replicable on the device (however ive tested on iphone 7 and newer)

[2018-10-25 11:12] isilher commented on #237
This is probably an issue with React Native, see also #189

[2018-10-25 20:43] waltermvp commented on #237
I attempted to pass in `{{flex: 1}}' via the stylesheet prop but it did not fix, not sure if its a dupe.

[2018-10-29 08:17] AdwardNguyen opened #238 "Displays images with incorrect aspect ratio: <p><img..../></p>"
I have a problem when I want render data from API by html resource
Example data
`<p> demo data </p><img src='https:/abc.com/up/image1.jpg'.. /><p><img src='https:/abc.com/up/image2.jpg'.. /> </p>`

Image 1: working fine
Image 2: not working fine because inline paragraph tag.  display with incorrect height item

Please help me solve this problem! Thank you!

<img width="338" alt="screen shot 2018-1

[2018-11-05 18:17] tkserver commented on #230
Bumping this since it has been 3 months and no response.

[2018-11-08 07:51] thirteenthEyes commented on #238
Source code(in htmlToElement.js Eighty-eighth lines):

if (node.name === 'img') { return <Img key={index} attribs={node.attribs} />; }

Change to:

if (node.children && node.children.length > 0 && node.children[0].name === 'img') { return <Img key={index} attribs={node.children[0].attribs} />; }

[2018-11-08 08:24] AmmarTariq10 opened #239 "Show icon instead of bullets"
Is there anyway to show icon or image instead of bullets in lists?

[2018-11-13 08:31] aryankothiyal commented on #235
did you find the solution?

[2018-11-13 08:32] chawax commented on #235
No :(

[2018-11-13 10:45] aryankothiyal commented on #13
any update on same?

[2018-11-15 08:54] leeleoo commented on #230
Create a new component and get the width and height in his life cycle like this

`Image.getSize(this.props.url, (width, height) => {
      this.setState({ width, height })
    }, (err) => {
      console.log('err', err)
    })`

[2018-11-15 10:48] Ragzzy-R commented on #197
Im having the same issue. Is there any update for this?

[2018-11-15 11:52] rochapablo opened #240 "Image size it's not 100% witdh"
I'm trying to render the entire html where it has `p, a, img` tags,  but the images seems to be cropped instead be shown as 100% width.

I tried add `img` style, like normal css, but without success.

[code]

[code]

![Imgur](https://i.imgur.com/N6Qh33H.jpg)

Is there anything to fix this?

[code]

[2018-11-28 13:46] 3mpetri commented on #240
Having exactly the same issue here. **Bump.**

[2018-11-28 23:27] rochapablo opened #242 "textAlign: 'justify' not working"
Using `{ textAlign: 'justify' }` nothing changes.

[code]

[code]

[code]

[code]

Testing on Android emulator.

Only works with, `left, center, right`

[2018-12-08 09:36] peterng014 commented on #221
Same issue, any idea?

[2018-12-11 06:01] Delwalt commented on #159
I used the negative margin to solve the issue, it worked! though I don't know if it is a good idea or not.

`const htmlViewStyle= StyleSheet.create({
  p: {
    marginBottom: -80
  }
})
`

[2018-12-19 14:39] peterng014 commented on #224
hi @jamsch
Your solution works well on iOS, but android I met 'Unexpected view type nested under text node'.

<img width="478" alt="screen shot 2018-12-19 at 9 37 56 pm" src="https://user-images.githubusercontent.com/17379889/50226736-90477e80-03d6-11e9-92f3-bb183d8d1d2f.png">

any suggestions?

Thanks

[2018-12-20 10:30] steoo commented on #106
Yes, the problem is that if `lineBreaks={false}` is set `<li>`'s are inlined, if `lineBreaks={true}` `<p>`'s has big lineBreaks. Any idea on how to handle this?

[2018-12-20 10:46] steoo commented on #106
Solved settings `paragraphLineBreak={""}`, basically I removed it.

[2018-12-20 15:10] tkserver commented on #106
Hey @steoo I've had a problem with line breaks and paragraphs together making huge gaps between paragraphs.  Did paragraphLineBreak={""} fix that for you?

[2018-12-20 15:13] steoo commented on #106
Yes it did, not exactly a solution but a workaround. Another problem you may encounter is rendering of `<br>`, to fix that you can do something like this in the `renderNode`

[code]

[2018-12-20 15:21] tkserver commented on #106
Thanks @steoo
What I ended up doing was removing \n from the api, which helped.  But sometimes users do line breaks and sometimes paragraphs and so on.

[2018-12-21 04:06] tkserver commented on #106
Hello @steoo I implemented this but no change.  Where did you do this the paragraphLineBreak?

[code]

[2018-12-21 10:01] steoo commented on #106
what `DEFAULT_PROPS` contains? What's the value of `LINE_BREAKS`?

[2018-12-24 05:00] wings-sakhi commented on #242
Same here.

[2018-12-24 05:06] wings-sakhi commented on #242
Was it working previously?

[2018-12-24 22:14] jamsch commented on #224
@peterng014 Android doesn't allow <View/> nodes (in this case a video player) inside a <Text/> node. So this means that the <video/> tag may be in a <p/> or <a/> element which the p/a elements are probably rendered as Text nodes.

[2018-12-27 20:35] skurgansky-sugarcrm commented on #231
[code]

[2019-01-07 10:18] denghuijie opened #243 "image and text position is not right."
I run the example, but the image and the text position is not right.
![image](https://user-images.githubusercontent.com/26714338/50762607-6502d180-12a8-11e9-9532-64bff1397552.png)

[2019-01-09 20:55] djarrin opened #244 "How to add padding to HTMLView without having images overflow"
So I am having a bear of a time getting images to fit on the screen whenever I have any type of padding applied to the content (so that the content is not right up on the edges of the screen). I get something that looks like this:
![screen shot 2019-01-09 at 3 47 11 pm](https://user-images.githubusercontent.com/7516512/50927686-812c7d00-1426-11e9-9176-a9c0b3a5fe4a.png)
My rendered components are s

[2019-01-15 10:37] nsantacruz opened #245 "Content wrapped in <p> not all styled"
Content wrapped in `<p>` tags followed by some inner tags sometimes leads to the inner tags not inheriting the styling of the `<p>` tag.
Below is an example app which shows the issue. I'm also including a screenshot

Notice how the font-size returns to the default font-size after a couple of tags and then at the end returns to the font-size specified in `textComponentProps`.

I was only able to re

[2019-01-26 03:41] Lost-Temple commented on #238
I hava the same issue in android.Have you resolved it?

[2019-01-28 13:39] bezenson opened #246 "PropTypes warning with styled-components"
Hello!  I am getting prop-types warning when trying to pass styled component as TextComponent property.

Code:

[code]

<img width="538" alt="2019-01-28 16 37 29" src="https://user-images.githubusercontent.com/3227120/51839719-167eab00-231b-11e9-859a-c9e5fe15c32e.png">

But if I do next, everything works. But it is workaround:

`<HTMLView value={content} stylesheet={htmlViewStyles} TextComponent={

[2019-01-28 14:03] inferusvv commented on #159
Has anyone fixed that? I just render WordPress HTML content and have that large spacing.

[2019-01-28 14:25] inferusvv commented on #159
Ok, I wrote function which will remove white space between tags. Just workaround.

`export const clearContentWhitespace = data => replace(/(<\/.+>)(\s+)(<)/g, '$1$3', data);`

[2019-01-31 19:45] DeVoresyah commented on #114
hello,
I'm trying to wrap with `<div></div>`

but my image be like this:
![bug](https://i.imgur.com/b2WEARJ.png)

my code:
[code]

[2019-01-31 19:46] DeVoresyah commented on #243
same here

![bug](https://i.imgur.com/b2WEARJ.png)

[2019-02-02 10:16] Thyiad commented on #216
+1，how to resolve it?

[2019-02-16 10:11] ShivamRawat0l opened #248 "a href="id" not going to the ID"
This should move to the top or to the element with the id

[2019-02-19 08:43] Thyiad commented on #220
@pheromone 你的image可以显示吗？为嘛我不行，他默认会把image嵌套到text中，会报错啊。。

[2019-02-19 09:05] pheromone commented on #220
@Thyiad  后来我公司没有使用富文本了.所以我就没试了.现在我已经转到flutter了.RN半年没弄了,不好意思.

[2019-02-19 09:08] Thyiad commented on #220
@pheromone 好的，谢谢~

[2019-02-19 09:33] Thyiad commented on #111
@peterng014 do you resolved it?

[2019-02-21 11:47] TharaViswa opened #249 "Support for HR tag"
Does this library supports hr tag. ?

[2019-02-25 09:56] romit07 opened #250 "Overflow hidden not working on iOS"
If i give a custom height to HTMLView in style(which is less than the content height), the view takes the given height but the content overflows outside the HTMLView. This issue is only on iOS, on android it is working fine

[2019-02-27 17:54] jsamr commented on #29
Table support requires grid layout ; you cannot support advanced table features such as `rowspan` and `colspan` without it. Grid layout is not yet supported by React Native, but [**you can upvote it here**](https://react-native.canny.io/feature-requests/p/css-grid-layout-supporting).

[2019-03-04 10:22] djvistasa commented on #211
I've also been experiencing this. Does the package validate HTML? Seems like it'l throw this when you pass invalid html to it

[2019-03-06 07:14] KManiKumarReddy opened #251 "Exception raised and empty view returned if value is more than 7383 characters after upgrading to react native 0.58 from 0.55"
XCode version: 10.1 (10B61)
React Native version: 0.58.6
react-native-htmlview version: 0.12.1

![screenshot 2019-03-06 at 12 40 54 pm](https://user-images.githubusercontent.com/13102841/53862402-4c473b80-400d-11e9-8ae7-d0acf317dd76.png)

[2019-03-07 02:42] lonhui commented on #243
same here

[2019-03-07 16:18] djarrin commented on #238
I solved this issue from the backend by removing any p tags that surround images (here is the expression in PHP):
`preg_replace('/<p>\s*(<a .*>)?\s*(<img .* \/>)\s*(<\/a>)?\s*<\/p>/iU', '\1\2\3', $text);`

[2019-03-07 23:34] herel commented on #238
I have this problem !

`<p class="xxxxxx"><img  src="...."></p> => <Text><Image source="" /></Text>
`

It seems that the problem comes with the attributes of TEXT for example the line heigth margin or padding

resolve

I solved it by eliminating the <p> inside the image.

so react compile:

`stringHtml.replace(/<\s*(p+).*?>/g,'<$1>').replace(/<(\/)?p>/g , '')
`

[2019-03-08 05:36] Shivani12345 opened #252 "can't set text propriety stylesheet"
can't change text color,size,alignments in htmlview. can't set any property related text?

[2019-03-13 09:34] erez-guesty commented on #216
+1 how resolve it?

[2019-03-13 16:19] dmitryguesty commented on #216
Does somebody succeeded to solve it?

[2019-03-14 00:55] Thyiad commented on #216
I finally used webview to show richtext.

[2019-03-15 09:14] simonnet126 commented on #231
nodeComponentProps={{numberOfLines: 1}}

[2019-03-25 14:35] gunduzcihat opened #254 "can we define specific class?"
Hi,

In react-native-htmlview, can we define specific classname?

For example I want to use "header-caption" class as a style.

[2019-03-27 19:36] djarrin commented on #254
In your renderNode property method you can use a method like this:
`const elementAndClassPresent = (node, tag, className) => {
    const attr = node.attribs
    return (node.name === tag && typeof attr.class !== 'undefined' && attr.class.includes(className))
}`

to do something like this:
`if(elementsParentClassPresent(node, 'li','arrows')){
        // console.log(node)
        return(

[2019-03-30 16:54] possathornwitt opened #255 "Can we customized font"
In my html style, my p tag is using 'sukhumvit' font-family. I'm wondering how to show the text in that custom font.

I do have .otf in asset folder. Thank you in advance!

[2019-04-01 14:14] aureliopetrone commented on #244
I have the same issue. Is there a simple solution?

[2019-04-01 14:35] djarrin commented on #244
@aureliopetrone what I ended up doing was using the renderNode property method.
I looked for any node with the name of img and edited the nodes attr width and height attributes the best I could. Still a little unpredictable but this is the best I could come up with:

[code]

[2019-04-01 22:07] aureliopetrone commented on #244
Thanks @djarrin

[2019-04-03 11:23] pnkapadia6 opened #256 "EventPluginRegistry: Cannot inject two different event plugins using the same name, `ResponderEventPlugin`"
I'm using this package alongwith react-native-web. On building it gives the error
[code]

[2019-04-16 11:15] dltjiangfeipeng commented on #240
Have you solved it

[2019-04-27 03:10] FoxInFlame opened #257 "HTMLView does not reload nodeComponentProps"
When a value in nodeComponentProps is dependent on the state, the View does not re-render upon a change in the state.

[code]

[2019-04-27 03:45] FoxInFlame commented on #257
I saw that this issue is being addressed already in pull request #241, so I'll wait for the merge.

[2019-04-27 23:30] #257 closed

[2019-05-07 16:01] rochapablo commented on #240
Noop

[2019-05-10 21:36] Reidweb1 commented on #238
Has anyone found a way to solve this without stripping out p tags?

[2019-05-22 06:12] zi6xuan commented on #220
@pheromone 貌似加了style之后就不会报错了

[2019-05-22 07:00] zi6xuan commented on #220
[code]
This is my perfect solution, automatically adapting to all situations where the style has been set or not set.

[2019-05-29 15:59] rochapablo commented on #120
Odd, even using `defaultRenderer(node.children, parent)`, the error persist.

[code]

[code]

[code]

[2019-05-29 16:03] rochapablo commented on #254
https://github.com/jsdf/react-native-htmlview/issues/120

[2019-05-29 16:19] rochapablo commented on #120
Oops, `return defaultRenderer(node, parent);` was the problem. Just `return undefined;`.

[2019-06-04 06:17] base0225 commented on #252
you can try like this ?
<View style={{marginTop:15,marginBottom:18}}>
                           <HTMLView
                               stylesheet={style}
                               value={introduce}
                           />
</View>
const style = StyleSheet.create({
    b: {
        color:'#777893',
        fontSize: 14,
        paddingLeft:18,
        paddingRight:18,
    },
    p: {

[2019-06-05 02:26] base0225 commented on #101
<HTMLView
        stylesheet={htmlStyles}
        textComponentProps={{ style: {color:'orange'} }}
        value={content} />

[2019-06-06 10:36] bkitduy commented on #252
how can I change its if the value is: <div>Text here</div>

[2019-06-10 03:33] Aung-Myint-Thein opened #260 "Custom function to renderNode"
Is there a way to inject custom function renderNode? My use case is that I am rendering an iframe node in renderNode but I would like to add a custom function so that I can record onPress.

[code]

Thanks.

[2019-06-24 04:45] leslielyj opened #261 "Return null for parent if current node.name == 'img'"
My html looks like this:

<p><img></p>

i can remove the img with:
[code]
but how can I remove the parent?

[2019-06-27 12:25] nebmesemaou commented on #242
justify not working on android tought not this componenet whole react native see here

https://stackoverflow.com/questions/43873546/react-native-textalign-justify

[2019-06-27 16:58] rochapablo commented on #243
Same here

[code]

![Screen Shot 2019-06-27 at 13 54 48](https://user-images.githubusercontent.com/5365304/60284942-2b1f9900-98e3-11e9-9aea-95998fe75733.png)

[code]

[2019-07-01 15:56] rochapablo commented on #238
Any update here?

[2019-07-01 16:29] rochapablo commented on #219
Any update on this?

[2019-07-01 16:31] rochapablo commented on #202
Any update on this?

[2019-07-02 11:40] donni106 commented on #219
Don't know, I am using this now since a while: https://github.com/archriss/react-native-render-html

[2019-07-09 07:25] v-singhal commented on #231
I think this needs to be updated in documentation for easier visibility.

[2019-07-15 05:51] nongh90 commented on #238
I use another repository react-native-render-html

[2019-07-16 13:37] TiagoHellebrandt commented on #243
same here

[2019-07-18 23:45] TiagoHellebrandt commented on #243
I solved the problem by creating another component, it also lets you put the sup tag on Android devices: https://github.com/TiagoHellebrandt/react-native-htmlviewer

[2019-07-23 14:56] Auticcat opened #262 "componentWillReceiveProps is deprecated"
Hello,

as i couldn't find an issue pointing it out. Using react-native 0.60+ there's this warning popping out while using this component about componentWillReceiveProps being deprecated.

As a workaround for now i'm using `YellowBox.ignoreWarnings(['componentWillReceiveProps']);`

The full warning says:
`Warning: componentWillReceiveProps is deprecated and will be removed in the next major versio

[2019-07-23 15:06] Auticcat commented on #262
For now i changed:
`  componentWillReceiveProps(nextProps) {
    if (this.props.value !== nextProps.value || this.props.stylesheet !== nextProps.stylesheet || this.props.textComponentProps !== nextProps.textComponentProps || this.props.nodeComponentProps !== nextProps.nodeComponentProps) {
      this.startHtmlRender(nextProps.value, nextProps.stylesheet, nextProps.textComponentProps, nextProps.nod

[2019-07-25 01:53] pacozaa commented on #202
+1

[2019-07-25 02:00] pacozaa commented on #202
Guys I end up did something like this and seems to work

which basically just combine @isilher and @ducpt2 together

[2019-07-25 14:03] edmundojr commented on #222
Maybe this would help you? https://github.com/jsdf/react-native-htmlview/issues/168

[2019-07-25 16:43] lorenzsell commented on #216
After struggling with a similar problem for a long time, I finally found a (somewhat) elegant way to resolve it.  As mentioned in an earlier comment the issue is the enclosing <p> tag.  The parser translates it as a <Text> tag and then you can no longer have any view tags within that <Text> tag without getting this error.

There are several approaches you might take, but I simply set the parser to

[2019-07-31 07:20] juxiaowei opened #264 "AutoSizedImage add padding"
AutoSizedImage add props padding

AutoSizedImage.js

finalSize.width = width - padding

[2019-08-01 01:15] lewatt23 commented on #221
same here ...

[2019-08-01 20:07] lewatt23 commented on #221
@Richi2293  found a solution ?

[2019-08-01 22:08] Richi2293 commented on #221
Hi,
I don't remember having found a real solution, maybe a possible solution is to use a webview component and load local html

[2019-08-02 02:09] juxiaowei commented on #224
edit htmlToElement.js
line 2 add View
defaultOpts NodeComponent edit View

[2019-08-04 06:30] Yousefjb commented on #250
Try the following, works on iOS
[code]

[2019-08-05 15:43] SiSa68 opened #265 "Can not change Text direction"
I want to have a <p> node with justified and rtl direction, but I can't achieve that

what I tried:
    setting `direction: 'rtl'` to the <p> node and <body> node
    setting `textAlign: 'right'` to <body> node (when I set <body> it also remove all the content break line and ignore child style too!)
    setting textComponentProps={{ style: {textAlign: 'right',} }}

Here is sample content:
`<body><

[2019-08-06 16:11] edmundojr commented on #255
You can follow [this guide](https://medium.com/@mehran.khan/ultimate-guide-to-use-custom-fonts-in-react-native-77fcdf859cf4), and after just add the fontFamily to the tags you want, e.g.:

[code]

[2019-08-09 02:42] tkserver commented on #230
Thanks for the response @leeleoo but how can I do that when the image is in an image tag within a large block of HTML being rendered?

[2019-08-09 20:05] LuigiMaestrelli commented on #262
Also getting this warnings.
Any idea about when a fix will be released?

[2019-08-12 00:10] jsdf commented on #262
fixed by https://github.com/jsdf/react-native-htmlview/pull/263
published https://github.com/jsdf/react-native-htmlview/tree/v0.15.0

[2019-08-12 14:43] diamont1001 commented on #184
I have the same issue, and I have solved it like this.

step 1: create a component `component/AutoSizedImage.js`

[code]

step 2: import AutoSizedImage and rewrite the function `renderNode`

[code]

[2019-08-13 23:07] #262 closed

[2019-08-21 10:30] rogerkerse commented on #189
I think this is the issue this library could solve as well.

[2019-08-22 09:48] edmundojr commented on #149
This would be useful as well when needing to style something like – which right now I don't think it's possible:

[code]

Or is it? 🤔

[2019-08-22 09:57] edmundojr opened #266 "Custom styles based on (grand)parent, e.g. a > strong > em"
I have the following HTML (`a > strong > em`) and I'm trying to add styles with a custom `renderNode` but no success, it seems like I can't check for the (grand)parent, which in this case is `a`:

[code]

This is what I've done so far:

[code]

Any suggestions?

[2019-08-25 10:57] noway commented on #153
Any way to select by words like here? https://github.com/facebook/react-native/issues/13938#issuecomment-520590673

[2019-08-25 11:23] noway opened #267 "Make text selectable by words"
Hello, would be really great if you could select text by words like in this screenshot:

![image](https://user-images.githubusercontent.com/2031472/63649213-0d5d9b80-c78f-11e9-9ad8-c0874aafdc20.png)

`selectable={true}` doesn't select by words unfortunately, only the whole text. I also tried using

[code]

 as a TextComponent prop, but no luck there either - I think TextInput is not rendered corre

[2019-08-29 08:42] StefKors opened #268 "Lots of unknown space between html content"
I add html like this:
[code]

with these styles:
[code]

the html that gets added looks like this:
[code]
# Issue
In between each element there seems to be a lot of spacing. I can't pinpoint where it is coming from. (see screenshot) Any solutions for this? Do I have bug in my code somewhere?

![Screenshot 2019-08-29 at 10 37 22](https://user-images.githubusercontent.com/11800807/63924932-740dde00-

[2019-08-29 15:55] okryvoshta commented on #266
1. Condition `parent.name === "strong" && parent.name === "a"` is useless, it always returns false. Try parent.parent.name === "a"
2. Swap first and second condition. First one is more general.

[2019-09-03 08:45] chrise86 commented on #268
Try using `addLineBreaks={false}`:

- `paragraphBreak`: text which appears after every p element
- `lineBreak`: text which appears after text elements which create a new line (br, headings)
- `addLineBreaks`: when explicitly false, effectively sets paragraphBreak and lineBreak to null

[2019-09-03 08:46] chrise86 commented on #261
@leslielyj did you come up with a solution?

[2019-09-04 10:27] edmundojr commented on #266
That works, thanks for the help @okryvoshta!

[2019-09-04 10:27] #266 closed

[2019-09-05 10:06] StefKors commented on #268
Yes this fixed it!

Thanks a lot @chrise86

[2019-09-05 10:06] #268 closed

[2019-09-07 18:01] appli-intramuros commented on #194
@StijnCoolen did you find any solution ?

[2019-09-11 01:26] fallending opened #269 "Is native functionality available to htmlview?"
Well, My situation is: need load online uri webview, and inject native functionality to webview so inside html I can do QRCodeSanner or BluetoothPrinter? Any advise? Thanks!!

[2019-09-16 03:03] pzxbc commented on #184
It seems that you have to set initial size to zero for Image

[2019-09-25 07:55] club9822 commented on #252
this is ok. but if texts nested togethor ? like

` <h3>Tile Is<b>Bold and <i>Italic </i></b>`

cassecade style  needed .

[2019-09-30 07:35] WestFR opened #270 "ITMS-90809: Deprecated API Usage - UIWebView"
We identified one or more issues with a recent delivery for your app, "APP_NAME". Your delivery was successful, but you may wish to correct the following issues in your next delivery:

ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs . See https://developer.apple.com/documentation/uikit/uiwebview for more information.

After you’ve corrected

[2019-09-30 08:40] #270 closed

[2019-10-01 21:23] club9822 commented on #221
You sould define `renderNode` and get `node.attribs.style` string and split and trim this string for geting key value pair and with a   module that i cant remember now, convert css key to rn style key and make a object with key value as styles object

[2019-10-01 21:27] club9822 commented on #219
Try to set `margin:0 padding:0 `for that custome node renderer

[2019-10-01 21:30] club9822 commented on #219
This module uses  `WebView`.

[2019-10-06 04:14] vietvudanh commented on #237
Still got this problem. Looks like only on Simulator?

[2019-10-08 10:21] BogdanTaranenko commented on #270
why this issue is closed?

[2019-10-09 08:42] appinteractive commented on #270
Hey I do have the same issue now. Is it caused by that library or is this a react native version thing? After searching here for UIWebView I did not found any mention in this repo through the GitHub search at least.

[2019-10-10 06:13] prakashsaran opened #271 "react native htmlview with issue image size"
htmlview image not showing
when i try this way

`<HTMLView addLineBreaks={false} value={page.content} stylesheet={HtmlStyles}  renderNode={this._renderNode}/>`

[code]
images show but we know this all images in page not same size.
because we need some images icon size and same we need banner size
in all condition what we do ?
if have anybody solution
please help me

**Thanks**

[2019-10-14 07:01] fmurtadho commented on #240
any workaround ?

[2019-10-16 17:22] donni106 commented on #219
And you don't want to use that because of the WebView implementation @club9822?

[2019-10-17 04:21] club9822 commented on #219
yes

[2019-11-07 06:25] sharad-epam opened #274 "How to add TestID in order to use for automation"
I am trying to add TestID for htmlView element for automation purpose .Somehow i am unable to add it . Is there any ways to add ?

[2019-11-08 11:59] #187 closed

[2019-11-13 00:00] bulby97 opened #275 "Loading state for very long rendering"
I have a very long html to render.
Before htmlview is displayed, there is 2 / 3 seconds blank.

Is it possible to have a loading state ?

[2019-11-13 10:53] prempalsingh opened #276 "bold tags stopped working after updating to React Native 0.60.0"
Starting React Native 0.60.0, `fontWeight` >=500 are no longer set to bold by default.
`fontWeight` either needs to be set at `700` or `bold` for the typeface to be set as bold.

Source - https://github.com/facebook/react-native/blob/3915c0fa6178fbb8aa9b8bd54881cfdbde8fde70/ReactAndroid/src/main/java/com/facebook/react/views/text/ReactBaseTextShadowNode.java#L493

Happy to raise a PR and change th

[2019-11-15 10:47] danijelmaric commented on #202
+1

[2019-11-27 14:44] djimenezsi2 commented on #118
I found a solution for me in this issue: https://github.com/jsdf/react-native-htmlview/issues/271

replacing images with components we can handle widths and heights.

[2019-11-29 04:01] Elderkly opened #277 "Image tags have default images on iOS13"
![image](https://user-images.githubusercontent.com/32736776/69842796-9e1ca980-129f-11ea-92c0-911e54ee1ffd.png)

This issue did not happen on IOS12.
How can i remove this default image?

`
    renderNode(node, index, siblings, parent, defaultRenderer) {
        if (node.name == 'img') {
            let { src, height, width } = node.attribs;
            const imageHeight = height || 100;

[2019-12-12 12:19] ozgurchn commented on #277
Hey,

I just faced the exact same issue and I fixed it with css hack ^^

[code]

[2019-12-15 10:37] oferRounds opened #278 "Show "See More" button when text is long"
Hi!
First of all, thanks for this awesome library!
Question: is there a way detect how many lines the view will include + detecting a specific line’s text?
I’d like to show at the end of the target line (let’s say, 3rd line, in case I choose to limit it to 3)

[2019-12-20 12:58] aevzp commented on #277
It doesn't helping =(

[2019-12-25 07:20] Skylnt opened #279 "ENOENT: no such file or directory"
ENOENT: no such file or directory, scandir '**\node_modules\htmlparser2-without-node-native\lib\node_modules\entities\maps'. I run with expo. Please help me!

[2019-12-27 10:09] Taher62 opened #280 "Right To Left in IOS"
Hi
This component work perfectly in android in RTL (Right to Left) but show LTR in IOS with same code and setting.

What is the solution?

[2019-12-27 10:15] Taher62 commented on #265
I have the same problem in IOS.
Can anyone solved this?

[2020-01-03 08:13] xusir2 opened #282 "using components on android 9.0 and android 10.0 systems is not fully displayed"
rendering to the last line means displaying half a line

[2020-01-13 06:41] songli0805 commented on #282
I have the same problems,Do you have resolve these problems?

[2020-01-13 06:46] xusir2 commented on #282
I didn't solve the problem either

[2020-01-14 07:35] sudheerpal opened #283 "Image Loading issue"
Hi I am using customized <Image> tags using renderNode. But the output on native i am getting is very weired. Please refer image attached for same.

I am not getting, where i am going wrong.

`  const renderNode = (node, index, siblings, parent, defaultRenderer) => {
    if (node.name == "img") {
      return (
        <Image
          style={{
            height: 150,
            width: 400

[2020-01-23 06:07] ErlanBelekov commented on #283
+1

[2020-01-24 20:44] HaseemUlHaq commented on #240
Just add renderNode attribute in HTMLView tag like this
`<HTMLView
                  value={this.state.content}
                  stylesheet={styles}
                  renderNode={this.renderNode} <-- this line
                  />`
just copy and paste renderNode function with your custom styling
`renderNode(node, index, siblings, parent, defaultRenderer) {
    if (node.name == 'img') {
      cons

[2020-02-04 08:43] tahirawan4 commented on #165
Please write custom renderer for iframe, works great for me.

     function renderNode(node, index, siblings, parent, defaultRenderer) {
       if (node.name == 'iframe') {
              const a = node.attribs;
    const iframeHtml = `<iframe src="${a.src}"></iframe>`;
    return (
      <View key={index} style={{width: Number(a.width), height: Number(a.height)}}>
        <WebView source={{html: i

[2020-02-06 09:50] MuhammadMattiullah commented on #211
Any update on this ?
I am getting the same error

[2020-02-06 10:22] djvistasa commented on #211
@MuhammadMattiullah , I just ensured that all html that I pass into it is valid and that seemed to do the trick back then.

[2020-02-17 05:41] armagedan opened #285 "How can I add a src to image tag"
So Currently I am using tinymce to write and save the data to the tables. And the images with img tags looks like this: `<img src="/images/test.png" />` Now how can I append the server ip or something before the `/images`?

I took the example from the official page and this is how mine looks like.

[code]

[2020-02-17 06:45] armagedan commented on #285
Solved. For anyone looking for the solution, this is not the best way to do this obviously but here is what I did. I went in to the `htmlToElement.js` file and edited this line:
[code]
My `baseURL.js` file looks like this:

[code]

I am using laravel as a backend. Hope this helps someone

[2020-02-17 06:45] #285 closed

[2020-02-19 10:34] ahmadafshariii commented on #249
+1

[2020-02-24 07:29] kishanbharda commented on #239
You can use `bullet` props to render Icon or image. I have rendered circle icon as below :
[code]

[2020-02-25 01:27] matwming commented on #111
Here is my way to solve this problem for img : we need to find img node, if it exists then we use our own react native tags to render it.
[code]

[2020-02-26 03:37] ngocdh383 commented on #193
You need to provide the size of the container if you package the html view in it

[2020-02-28 03:25] wulala1997 opened #286 "When are UIWebView removed?"
When are UIWebView removed?

[2020-02-28 03:46] trd-peraltajim commented on #159
this will do the trick:

<HTMLView value={`<mytag>${data.replace(/(\r\n|\n|\r)/gm, "")}</mytag>`} renderNode={renderNode}/>

[2020-03-04 08:24] MarxZhou opened #287 "Incomplete text display when setting line height"
When I set the line height, I found that when the property is set to 20, some text can only be displayed incomplete. It has no effect when setting other values.

This is my code:
<HTMLView
                              value={answerContent}
                              stylesheet={{
                                p: {
                                  color: '#444444',

[2020-03-14 04:18] girish54321 opened #288 "are we using UIWebView?"
is this package using UIWebView
i got mail form apple
Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs starting from April 2020

Environment:
OS: Mac OS
OS version:
react-native version:0.59.10
react-native-webview version: 7.5.2
react-native-htmlview : 0.12.2 // 0.15.0

[2020-03-16 07:54] Doliant commented on #288
I have the same question.

[2020-03-23 15:52] philippbosch commented on #288
I'm pretty sure UIWebView is *not* used anywhere. The HTML content is parsed and each node is mapped to a RN view. That's it.

[2020-03-23 15:52] philippbosch commented on #286
I'm pretty sure UIWebView is **not** used anywhere. The HTML content is parsed and each node is mapped to a RN view. That's it.

[2020-03-24 02:33] yuanbolin commented on #286
Thanks

[2020-03-24 08:35] girish54321 commented on #288
thanks @philippbosch

[2020-03-24 08:35] #288 closed

[2020-03-26 13:49] 5ervant opened #291 "How to render an actual object HTML component like <p>paragraph</p>"
I'm seeing that `react-native-htmlview` can render an HTML code **in string format**.
But how we can render an actual object HTML component like `<p>paragraph</p>`?

[code]

[code]

I already tried the above code but just getting a *"Warning: Failed prop type: Invalid prop \`value\` of type \`object\` supplied to \`HtmlView\`, expected \`string\`."*

[2020-03-29 16:39] 5ervant commented on #291
The solution is to use `ReactDOMServer`:

    import ReactDOMServer from 'react-dom/server';
    // ...
        <HTMLView value={ReactDOMServer.renderToStaticMarkup(<Paragraph />)} />

[2020-03-29 16:39] #291 closed

[2020-04-03 17:11] sjaloomconnect opened #292 "Extra paragraph added"
I am using this plugin and have added the "addLineBreaks={false}", but somehow when rendering the html output, an extra empty paragraph is added after each paragraph.

I checked the html (just before rendering), and there is no empty paragraph in there.

What to do?

[2020-04-06 09:48] gibrandev commented on #271
You can use this package
[https://www.npmjs.com/package/react-native-scalable-image](https://www.npmjs.com/package/react-native-scalable-image)

[2020-04-10 03:50] wzahedi opened #294 "[HELP] Does not render nested components?"
Hi, I am trying to use renderNode to render a simple Text inside a TouchableOpacity based on a specific tag, however it does not render.

It does however render when I do not enclose the Text component inside anything. However this does not work for my use case.

Apologies if I am misunderstanding something in advanced. Please advise, thanks.

[code]

[2020-04-15 01:22] #198 closed

[2020-04-16 04:47] cltsang commented on #256
Hi @pnkapadia6 . Have you found a solution? Or another library/way to render HTML in react-native-web?

[2020-04-27 15:58] fedebais commented on #202
the @donni106 codes is work for me but is not working for image.
<img width="318" alt="Captura de Pantalla 2020-04-27 a la(s) 12 54 13" src="https://user-images.githubusercontent.com/6424632/80393080-603fa380-8886-11ea-8194-23b5971cf3c3.png">

if i add the <p> i get line break on  <a> tag . what can i do?

<img width="318" alt="Captura de Pantalla 2020-04-27 a la(s) 12 57 25" src="https://user-ima

[2020-04-28 01:04] wayneprim90 opened #295 "Getting Line Breaks on All html links, <strong> and <italic>"
I am implementing this on an expo app and am pulling data from google calendar api (specifically the event description) which comes in as an html string. When I use the HtmlView it makes line breaks for any <i> <strong> and <a> tags.

[2020-04-28 01:07] wayneprim90 commented on #295
Closing this issue, I used the prop RootComponent={Text} to make sure it displays inline.

[2020-04-28 01:07] #295 closed

[2020-05-02 13:22] eidsza1 commented on #142
This work perfect

`value={"<div>"+ item +"</div>"}`

[2020-05-08 06:34] Natkarock commented on #292
 Hello! Did you find the solution?

[2020-05-11 08:05] akshit5230 opened #296 "Line breaks are added for every tag, even after disabling"
Hello!
so the html i provided was something like
`<b>this is bold</b> <i>this is italic</i> <u>this is underline</u>`
and it renders as:

**this is bold**

_this is italic_

this is underline

[2020-05-11 08:11] akshit5230 commented on #292
Same here. Infact its happening with me with every tag

[2020-05-11 09:53] akshit5230 commented on #296
Okay I figured it out myself
to make it in one line you'll have to replace the root component which is by default a <View> to <Text> Component

[2020-05-11 09:53] #296 closed

[2020-05-12 03:47] ledoandailoc-waves8 opened #297 "Does this library use UIWebview?"
Does this library use UIWebview?

[2020-05-12 08:26] ledoandailoc-waves8 commented on #297
Does this library use UIWebview?

[2020-05-12 08:27] #297 closed

[2020-05-17 03:41] KVinS commented on #134
I used a similar path:

But the image is too blurry
![2020-05-17_06-39-56](https://user-images.githubusercontent.com/3009807/82135257-4cde8300-9809-11ea-99dc-8a3ab6c1c6aa.png)

[2020-06-12 04:01] dangkhoa2708 commented on #292
Hello! I have experienced this as well, have you found the solution yet ?

[2020-06-12 19:34] Bayramito opened #298 "Cannot resize the image and empty spaces"
Hello,

I started to useing this package today actually i really loved it becouse of its renderMode prop.

Anyways, I have 2 weird problems.

1. I cant resize the image.
Firstly, i tried to render my html data with default example. But i got interesting errors with webView component. yogaNode etc....
Then i saw this renderMode method where actually you can create your custom setup to render the ht

[2020-06-19 10:51] arthedza commented on #13
Are any updates on this?

[2020-06-23 18:03] dev-pacific22 commented on #292
With refrerence to [this](https://github.com/jsdf/react-native-htmlview/issues/217#issuecomment-426448092)
Add props to your HTMLView
` paragraphBreak=""`

Works for me.

[2020-06-24 18:20] GleidsonDaniel commented on #292
Tks @dev-pacific22

[2020-06-30 14:28] alapanerao commented on #292
Put your HTML content inside <p>. @sjaloomconnect

[code]

[2020-07-06 09:17] hjc22 opened #299 "Can I upgrade this entities package, v1.1.1 to v2.0.0"
Can I upgrade this entities package ,v1.1.1 to v2.0.0

[2020-07-25 01:04] jsdf commented on #299
feel free to send a PR and @ mention me in it

[2020-07-29 00:39] bakoserge commented on #153
Any solutions for this question?

[2020-07-29 13:06] zhantx commented on #282
@xusir2 @songli0805 I got the same problem, solved by using this one https://github.com/archriss/react-native-render-html#
painless transition

[2020-07-30 10:59] anisimov74 commented on #243
@TiagoHellebrandt could you please clarify how you are solved this particular problem?
I'd appreciate if you post a code snippet.
It seems authors have no interest to fix this unfortunate problem

[2020-08-27 07:14] yue-f commented on #298
I have the same problem. Have you solved it?

[2020-08-30 09:20] ravanspell opened #303 "<Del> tag not render"
The <del></del> tag not render at all.

[2020-08-31 11:05] huy-lv opened #304 "How to set base url for image tag"
Hello, i have an image tag like this, how to set base url for all `src` attributes.
[code]

[2020-08-31 11:08] huy-lv commented on #255
@edmundojr  how to set font for all text tags, i dont want to set manually to h1, h2, h3,...

[2020-08-31 11:28] edmundojr commented on #255
@huy-lv I haven't used this in a while, so not sure if there's a way to do for all the text tags at once.

[2020-09-01 03:16] huy-lv commented on #189
Hey, how to fix this problem?

[2020-10-02 09:39] FindelFof opened #306 "How to view my admob in htlmview"
Hi friends, do you have any tips or solutions to be able to see my. admod in htlmview?
before I did this:

let text = Tf[0].split(' ');
    const chunks = [];
    if(T>=2000){
    for (let i = 0; i < text.length; i += 200) {
      chunks.push(text.slice(i, i + 200));
    }

    return chunks
      .map(chunk => chunk.join(' '))
      .map((value,key) => (
        <Card transparent style={{alignIte

[2020-11-06 19:31] MrOttimista commented on #240
I did a workaround to solve this issue and it is working fine

[code]

[2020-11-08 07:10] r3dm4n commented on #306
Any progress on this ?

[2020-11-10 21:20] ydhnwb opened #307 "NumberOfLines"
How to prevent a html by using numberOfLines? using number of lines didn't work

[2020-11-13 03:49] caoruonan commented on #160
我也遇到了这种问题

[2020-11-22 21:28] xmflsct commented on #206
Seems like the one above is not up-to-date.

[2020-11-23 07:20] henrikra commented on #206
@xmflsct Can you make simple PR to fix them?

[2020-11-25 07:51] dinhsuu commented on #304
is it like this ?
`<HTML
          baseFontStyle={styles.textContent}
          html={section.content}
          ignoredStyles={['font-family']}
          renderers={{
            img: (img) => {
              return (
                <FastImage
                  key={img}
                  style={{ width: 300 * UIConst.SCALE, height: (img.height / 2) * UIConst.SCALE }}
                  source={{

[2020-11-26 02:11] huy-lv commented on #304
Yes, but i need a prop help me to set base url for all image tag, something like this
[code]

[2020-12-15 17:54] atais opened #309 "Images are split in half when delivered inside <p> tag"
I have prepared a demo case in my project's repository branch.
https://github.com/atais/lpuradio/tree/image-problem

The content is:
[code]

Basically, some images come from RSS service inside `<p>` tags and for some reason, they are hidden inside this text tag...
It looks like this:

<a href="https://ibb.co/h2XHTf8"><img src="https://i.ibb.co/h2XHTf8/Screenshot-1608054521.png" alt="Screenshot-160

[2020-12-15 18:01] atais commented on #238
@herel
for some reason after applying your "patch" my styles:

[code]

do not work. What is your approach here?

[2020-12-15 23:19] xmflsct opened #310 "Empty content in the tag causes error"
I stump upon a weird bug today that, if the content contains an empty tag like `<p></p>`, it renders error. I have to catch such case in `renderNode`. Any idea if this is an actual case?

[2021-01-10 14:11] nsantacruz commented on #245
This is still an issue on React Native 0.63.4

[2021-01-11 18:54] sarkar4540 opened #311 "TypeError: Cannot read property 'style' of undefined"
JSX Code:

[code]

The following error has occurred.

[code]

[2021-01-23 23:17] Natetronn opened #313 "Attempted import error: 'ViewPropTypes' is not exported from 'react-native-web/dist/index'."
I tried to access the app using Expo Web and got one error in terminal and one in the browser. It seemed to work fine in Android emulator, however.

Terminal error:
[code]

Note: I don't necessarily care about web, per se, but was curious to see what it looked like there and why I ended up getting the error.

Not sure if it's related but, I saw this issue as well, where it mentions HTMLView.js lin

[2021-01-24 00:33] Natetronn commented on #313
I tried the above fix i.e. adding `export const ViewPropTypes = { style: null };` https://github.com/necolas/react-native-web/issues/1537#issuecomment-619969653 to the bottom of node_modules/react-native-web/dist/index.js and I'm now able to get past the below error and can see the app/site but, I do get this warning in the browser console:

[code]

[2021-01-25 18:45] nes123 commented on #153
+1

[2021-01-29 09:41] gowdruNikhil opened #314 "Inline Style not working"
<p> Add <span style="color:green">₹56</span> more to cart for <span style="color:green">FREE</span> Delivery</p>

the color green is not applying on the span tagged elements

[2021-01-30 22:45] anthlasserre commented on #238
@AdwardNguyen Please can you share the exact html string you're trying to display.

I had aspect ratio problems too and I solved it like this:
[code]

[2021-02-17 12:47] AngeloMateus opened #315 "<strong> tag doesn't display bold text on IOS"
As the title, seems to work fine on Android

[2021-02-17 14:06] #315 closed

[2021-02-24 14:13] Asscher commented on #148
Upgrading to react native 0.63 and this solution seems to fix the problem for iOS and Android, in 0.63 they support rendering <View /> in <Text /> ( see https://reactnative.dev/blog/2020/07/06/version-0.63#other-notable-improvements )

[2021-04-02 22:01] KrisChambers opened #318 "Unordered List followed by Paragraph not rendering properly"
Consider the following html:
```<html><body><ul><li>Item 1</li></ul><p>Paragraph</p><p>P2</p></body></html>```

Expected output:
<html><body><ul><li>Item 1</li></ul><p>Paragraph</p><p>P2</p></body></html>

Actual output:
- Item1Paragrah

P2

Check Android and IOs at the this [Snack Link](https://snack.expo.io/eXChcj30v)

I would expect a new paragraph to be started after the list. As is the case f

[2021-04-12 09:47] SaruwatariSagittario commented on #318
Hi, I'm also facing some issue when trying to render ul li html tags, is there any solution or workaround ?

[2021-04-13 18:11] minusthebear02 commented on #318
I'm having issues with ul and li tags as well. My li's are all showing on the same line, wrapped as if it was just a paragraph instead of a list for whatever reason. Anyone else run into this?

[2021-04-16 17:56] KrisChambers commented on #318
In my case, the workaround has been to add line breaks (<br />) to the markup. The main issue for me seems to be the formatting of the list when sandwiched between paragraphs.

[2021-04-18 14:38] andreyoit commented on #298
Regarding the issue of white spaces I've found a solution:
I'm applying a style to the `<p>` elements with the property `stylesheets`:

`              <HTML
                      style={{padding: 10}}
                      value={item.content.rendered}
                      addLineBreaks={true}
                      paragraphBreak={false}
                      stylesheet={{

[2021-05-04 08:22] nikita-zot-1408 opened #319 "Space between html tags is huge even tho I wrapper my content in "<div>""
I have very big distance between elements even tho I have my code like this.

[code]

My content is still displayed like this:

<img width="316" alt="Screenshot 2021-05-04 at 12 21 23" src="https://user-images.githubusercontent.com/72203475/116977246-3f98fd80-acd3-11eb-867b-9ae58e727022.png">

Any suggestions on how to solve this please?

[2021-05-04 12:57] timorss commented on #265
p: {
    textAlign:'left',
  },

[2021-05-04 12:57] timorss commented on #280
p: {
    textAlign:'left',
  },

[2021-05-07 10:12] Aung-Myint-Thein commented on #118
how did you replace the image with components?

[2021-05-19 12:39] akenarong999 commented on #319
Got this problem too. Any solution?... pls.

[2021-05-20 11:39] yestay90 commented on #319
the same is here.

[2021-06-02 20:34] Farhankhaliid opened #325 "Inline styling is not working"
i am  passing this httml sting to htlmView as a value but  text color is not changing . i want to send dynamic color from backend
"<font color=‘green’> Text  </font>"

[2021-06-04 21:31] daveyjones commented on #319
You need to add `addLineBreaks={false}`.

[2021-06-19 11:16] abdeljabar opened #326 "Get text of clicked links"
I wonder if it is possible to do something like this. I would like to display the url inside a webview, but I can't get the title/text of the clicked anchor tag.

`<HTMLView
              value={content ? content.rendered : ''}
              onLinkPress={(url, text) => {
                  navigation.push(WEBVIEW, {
                    url: url,
                    title: text,
                  })

[2021-07-01 21:31] sebellows commented on #313
I ran into the same problem and wound up having to write a patch file using [`patch-package`](https://www.npmjs.com/package/patch-package).

1.  In `node_modules/react-native-htmlview/HTMLView.js` remove `ViewPropTypes` from the `import` statement.
2. Below the imports, add the following:
[code]
3. Then run the following command: `npx patch-package react-native-htmlview`. This will generate a patc

[2021-07-11 12:54] Zuhirbadr commented on #313
https://github.com/jsdf/react-native-htmlview/issues/313#issuecomment-872564166
that really works

[2021-07-11 23:13] DanielKakona1 opened #327 "How to set the number of lines to show"
I want to do some preview with few lines of text and allow users to click on it to view more content.

[2021-07-20 09:46] gyawalirajiv commented on #142
Thanks @eidsza1 and @richchurcher . worked

[2021-07-30 14:56] Thomas9292 opened #328 "Truncate text in html view"
Hi, I am trying to automatically truncate content in the HTMLView. I think currently, it is not possible to set a limit for the size of the view.

Has there been any discussion already on adding functionality similar to the standard [Text component's `numberOfLines` prop](https://reactnative.dev/docs/text#numberoflines)?

[2021-08-03 06:18] Exikonnect commented on #327
looking for same

[2021-08-03 06:19] Exikonnect commented on #328
Looking for the same. Did you find any solution for this ? @Thomas9292

[2021-08-03 06:22] Exikonnect commented on #307
Did you find any solution for this ? @ydhnwb

[2021-08-12 19:48] pedrotrogo-fump opened #331 "Get raw html in renderNode"
it is possible to get the raw html in renderNode function?

[2021-08-13 07:56] nikita-zot-1408 opened #332 "Make HTML Text selectable"
Is there any way with which we could make HTML text selectable? I digged documentation but could not find anything about this

[2021-08-19 13:22] rafaelmmiller commented on #331
I've found this other issue with same question: #158

[2021-08-19 16:07] pedrotrogo-fump commented on #331
@rafaelmmiller  Thanks for your reply

[2021-08-23 12:19] OnurSevket commented on #242
Same here

[2021-08-31 05:59] CyberCyclone commented on #236
This seems like it might be "fixed" by adding a lineHeight to increase the clickable area:

[code]

[2021-09-04 16:06] hemanthBkumar commented on #325
any update on this ?

[2021-09-04 16:07] jeevankumarkanuganti commented on #325
any update on this?

[2021-09-20 06:02] CyberCyclone commented on #298
I'm facing the same issue. Image inside a <a> tag is pushed half way down the container, giving the impression that the image is missing the lower half.

[2021-09-20 07:58] Bayramito commented on #298
i gave to `img` full width of the screen manually and solved my issue.

[2021-09-22 03:06] CyberCyclone commented on #298
There seems to be issues with placing Image components inside a Text component, which is what this plugin does. I found that you need to override it in 'renderNode' so that it doesn't use a Text component.

Find the parent container and using a View to wrap it, and then place the children (which in this case is the Image itself). In this case, it's a html `<a>` tag that we're wanting to replace wi

[2021-09-23 06:55] hadidm commented on #243
I solved the problem by wrapping the `Image `component with `View `component

here is the code

[code]

[2021-09-28 07:45] joshchoo commented on #274
For anyone who has the same question, the `testID` can be attached to HtmlView's underlying View container by passing through the [`rootComponentProps`](https://github.com/jsdf/react-native-htmlview/blob/457751bcd832ba2018f54a1ffe43761a6ff34154/HTMLView.js#L129):

[code]

[2021-10-05 20:57] zaheerahmad92001 opened #335 "Multiple HyperLinks"
i have multiple HyperLinks in HTMLContent . i want to open a specific link . how can i  achieve this ? any solution please

[2021-10-11 08:59] angleneo commented on #151
How to solve this problem ？

[2021-10-21 16:03] joshchoo commented on #274
Glad I could help!

[2021-10-22 10:00] angleneo opened #337 "img tag have default border"

[2021-11-04 06:31] hendradedis commented on #332
i think i have same issue , anyone can help
iam try

[code]

      what wrong in code ?

[2021-11-09 12:50] CostachescuCristinel opened #338 "Update HTMLView TS definitions to support class components"
Currently, HTMLView's definitions specify the following props to accept function components only:
`NodeComponent`, `RootComponent`, `TextComponent`

However, the source code that uses these props, only uses destructuring assignment to extract these from the `HTMLView`'s props, and then creates these components as JSX tags:

`RootComponent`: https://github.com/jsdf/react-native-htmlview/blob/457751

[2021-11-24 12:41] kamatchipannerselvam commented on #313
Thank you much . You saved my time

[2021-11-25 15:43] withwz commented on #225
like this，i have resolve
add a <View>

`
   <HTMLView
          renderNode={(node: HTMLViewNode, idx) => {
            if (node.name == 'img') {
              const a = node.attribs;
              return (
                <View key={idx}>
                  <Image
                    resizeMode="cover"
                    style={{
                      resizeMode: 'cover',
                      wid

[2021-11-28 10:46] minhajul-islam opened #339 "<sup> and <sub> tag not working"
Ca<sup>2+</sup> আয়ন সনাক্তকরণ
Na<sub>2</sub>SO<sub>4</sub> এর বৈশিষ্ট

[2021-12-09 08:44] sampie777 commented on #339
Yeah, to clarify this to make it a better issue:

<sup> and <sub> tags aren't doing anything except for printing out raw text. So they basically work like a <span>. However, the tags can be somewhat limited styled. So to achieve the <sub> effect, just apply a styling with a smaller fontSize, like so:
[code]
But you cannot do the same for <sup>, as you cannot allign the <Text> component inside anot

[2021-12-09 09:44] sampie777 commented on #339
This seems to work for me:
[code]

As suggested in my previous, I just wrap the `<sup>` children inside a `<View>` element to do the positioning using a custom renderer. I did not need to add any positioning styling, like `top: -10` or something, as the children were automatically aligned to the top.

If this works for others as well, I can create a pull request to implement this into the source c

[2021-12-09 10:08] sampie777 commented on #249
Yes, style it using something like:
[code]

[2021-12-31 00:29] elkortby commented on #311
same problem

[2022-01-20 02:46] lethanhan97 opened #340 "Typing for HTMLViewNode on Typescript"
Hey guys, stumbled upon this issue.

When I'm trying to provide the `renderNode` prop to `RNHTMLView` using Typescript, an argument `node` with type `HTMLViewNode` was provided

The `HTMLViewNode` type indicate that `node` doesn't have a type name children. However, it turns out that `node` does have the `children` type

Could the type be updated so that `children` is declared in `HTMLViewNode`?

[2022-02-01 19:01] lalbuquerque commented on #267
Hello! Any updates on this?

[2022-02-01 19:01] lalbuquerque commented on #332
Hello! Any updates on this?

[2022-04-20 16:34] rianfloo commented on #314
Not very elegant but I tricked it by recreating a custom node with the data inside.

Hope it will help few other like me :)

[code]

[2022-04-20 19:04] danpettay commented on #340
I am also having this issue and agree that the `HTMLViewNode` type should be updated to include children. @lethanhan97 it looks like this repo hasn't been updated in quite some time. were you able to find a workaround?

[2022-05-07 07:11] PekoNico commented on #307
inside my renderNode function, i add these followed:
[code]

[2022-05-09 00:55] ansmlc commented on #332
I was just exploring an alternative to ‘react-native-render-html’ for this very reason, sorry to see selectable text is not yet supported. The said plugin supports the ‘selectable:true’ option but it it’s limited in iOS.

[2022-05-15 22:13] frknltrk commented on #313
change `ViewPropTypes.style` to `PropTypes.style`
don't forget to `import PropTypes from "prop-types";`
which requires `npm install prop-types`

[2022-05-19 15:36] mixmaker opened #344 "dynamically set height according to available content"
I'm trying to show some text inside `htmlview` the length of text isn't fixed. Also there is no height specified inside the html content, and that's why the component shrinks to nothing.

Is there any way to dynamically set the height of the `htmlview` according to the content inside?

[2022-07-15 09:48] ThirupathaiahR opened #345 "import ViewPropTypes from deprecated-react-native-prop-types instead of react-native"
In HTMLView.js
import ViewPropTypes from deprecated-react-native-prop-types instead of react-native

Please update

[2022-07-28 06:37] tahola opened #347 "Is there a way to ignore links ?"
Hello,

is there any way to completely ignore the links ?

Right now I have to do that :

[code]

And then add the parent color on my links :
`const stylesHtmlTitre = StyleSheet.create({
    p: {
      color: textColor,
    },
    a: {
      color: textColor,
    },`

Is there a proper way ?

[2022-08-08 20:36] jplandry908 commented on #345
#346 https://github.com/jsdf/react-native-htmlview/pull/346

[2022-08-23 14:25] khelifioussama commented on #345
@jsdf

[2022-08-23 20:13] LFMAKER commented on #345
@jplandry908 @khelifioussama

The patch solved my problem, I recommend that you use the patch and don't wait for updates on that lib.

react-native-htmlview+0.16.0.patch
[code]

Your project must depend on (deprecated-react-native-prop-types) for the patch to work, besides having a postinstall-postinstall lib and patch-package configured.

[2022-08-23 20:21] jplandry908 commented on #345
Thanks @LFMAKER. I ended up swapping over to 'react-native-render-html' in my project which is more recently maintained. The change was fairly easy within my codebase. However, I appreciate you bringing the patch to my attention.

[2022-08-25 08:57] MohdUmer commented on #319
when use addLineBreaks={false} height still to huge... any solution?

[2022-09-05 09:22] kusaasira commented on #345
@LFMAKER did you delete the patch?

[2022-09-26 17:48] visormatt commented on #252
The ability to link a CSS file here, which sits in the `html head` might make the customization much more flexible 🤔

[2022-10-13 11:42] YogeshBhatt opened #348 "Error: Invariant Violation: ViewPropTypes has been removed from React Native. Migrate to ViewPropTypes exported from 'deprecated-react-native-prop-types'."
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-htmlview@0.16.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-10-19 21:20] BrianWendt commented on #311
Same problem nearly a year later.

`"dependencies": {
    "@expo/webpack-config": "^0.17.0",
    "@react-native-async-storage/async-storage": "~1.17.3",
    "@react-native-picker/picker": "2.4.2",
    "@react-navigation/drawer": "^6.3.1",
    "@react-navigation/native": "^6.0.8",
    "@react-navigation/native-stack": "^6.5.0",
    "axios": "^0.26.1",
    "expo": "^46.0.0",
    "expo-checkbox": "~2

[2022-10-19 22:35] BrianWendt commented on #313
I ended up removing ViewPropTypes entirely and that got it working with the version of React Native that I'm on (0.69.6)

[2022-10-25 07:43] todaysprint opened #349 "can add katex css to this html view ?"
katex css to this html view ?
any kind of help
thanks

[2022-11-11 15:18] radekzz commented on #313
Simple solution here:

`yarn add deprecated-react-native-prop-types`

In `node_modules/react-native-htmlview/HTMLView.js`remove `ViewPropTypes` from the import statement.

Insert `import { ViewPropTypes } from 'deprecated-react-native-prop-types'`

But i hope that author will update a package so we don't need this anymore.

[2022-11-29 05:59] krishnacharyGITHUB commented on #311
HTMLView.js:149 Uncaught TypeError: Cannot read properties of undefined (reading 'style')
    at Module../node_modules/react-native-htmlview/HTMLView.js (HTMLView.js:149:1)
    at __webpack_require__ (bootstrap:789:1)
    at fn (bootstrap:100:1)
    at Module../node_modules/react-native-htmlview/index.js (index.js:1:1)
    at __webpack_require__ (bootstrap:789:1)
    at fn (bootstrap:100:1)
    at